In [38]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
import sys
import io

In [647]:
start = 2023
end = 2025 


end += 1

seasons_list = [year for year in range(start, end)]
seasons_list

[2023, 2024]

In [507]:
team_names = {
    'ATL': 'Atlanta Hawks',
    'BOS': 'Boston Celtics',
    'BRK': 'Brooklyn Nets',
    'CHO': 'Charlotte Hornets',
    'CHI': 'Chicago Bulls',
    'CLE': 'Cleveland Cavaliers',
    'DAL': 'Dallas Mavericks',
    'DEN': 'Denver Nuggets',
    'DET': 'Detroit Pistons',
    'GSW': 'Golden State Warriors',
    'HOU': 'Houston Rockets',
    'IND': 'Indiana Pacers',
    'LAC': 'Los Angeles Clippers',
    'LAL': 'Los Angeles Lakers',
    'MEM': 'Memphis Grizzlies',
    'MIA': 'Miami Heat',
    'MIL': 'Milwaukee Bucks',
    'MIN': 'Minnesota Timberwolves',
    'NOP': 'New Orleans Pelicans',
    'NYK': 'New York Knicks',
    'OKC': 'Oklahoma City Thunder',
    'ORL': 'Orlando Magic',
    'PHI': 'Philadelphia 76ers',
    'PHO': 'Phoenix Suns',
    'POR': 'Portland Trail Blazers',
    'SAC': 'Sacramento Kings',
    'SAS': 'San Antonio Spurs',
    'TOR': 'Toronto Raptors',
    'UTA': 'Utah Jazz',
    'WAS': 'Washington Wizards'
}

In [489]:
# team_names = {
#     # 'DET': 'Detroit Pistons',
#     # 'BOS': 'Boston Celtics',
#     # 'PHO': 'Phoenix Suns',
#     'MEM': 'Memphis Grizzlies',

# }

### Collect Roster Average Stats Per Season

In [139]:
# Convert height to inches (Ht format 'ft-in' to inches)
def height_to_inches(height):
    if pd.isna(height):
        return None
    feet, inches = map(int, height.split('-'))
    return feet * 12 + inches

In [183]:
def clean_roster(roster, team_names):

    roster['ht'] = roster['Ht'].apply(height_to_inches)
    
    roster['birth_year'] = pd.to_datetime(roster['Birth Date']).dt.year

    roster['age'] = roster['Season']- roster['birth_year'] -1

    roster['exp'] = roster['Exp'].replace('R', 0)

    roster['exp'] = roster['exp'].round().astype(int)

    roster['team'] = team_names

    roster.drop(columns=['College','No.','Player','Pos','Birth Date','Birth','birth_year'], inplace=True)

    return roster

In [444]:
# https://www.basketball-reference.com/teams/DAL/2025.html

def scrape_roster(season,team_names):
    all_data = pd.DataFrame()

    for team in team_names:

        url = f"https://www.basketball-reference.com/teams/{team}/{season}.html"

        response = requests.get(url)

        # print(response)
        # print(url)

        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            table = soup.find('table', {'id': 'roster'})

            if table:
                df = pd.read_html(io.StringIO(str(table)))[0]

                df['Season'] = season
                
                df = clean_roster(df,team)

                all_data = pd.concat([all_data, df], ignore_index=True)

            else:
            
                print(f"No table found for {season}")

        else:
            print(f"Failed to retrieve data for {season}")

        time.sleep(4)

    return all_data

In [ ]:
roster = scrape_roster(2025,team_names)

In [186]:
roster.sample(5)

       Ht     Wt Exp  Season  ht  age  exp team
294   6-5  215.0   4    2025  77   26    4  MEM
212  6-11  256.0   3    2025  83   29    3  HOU
47    6-5  185.0   1    2025  77   20    1  BRK
94    6-7  221.0   7    2025  79   34    7  CHI
116   6-7  230.0   8    2025  79   31    8  CLE

In [474]:
def team_avg_roster(roster):

    avg_roster = roster.groupby(['team', 'Season']).agg(
        avg_age=('age', 'mean'),
        avg_exp=('exp', 'mean'),
        avg_weight=('Wt', 'mean'),
        avg_height=('ht', 'mean')
    ).reset_index()


    avg_roster['team_full_name'] = avg_roster['team'].map(team_names)

    avg_roster = avg_roster[['Season','team', 'team_full_name', 'avg_age', 'avg_exp', 'avg_weight', 'avg_height']]
    
    return avg_roster

In [196]:
avg_roster = team_avg_roster(roster)

In [198]:
avg_roster.sample(5)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height
9,2025,GSW,Golden State Warriors,26.714286,4.761905,213.000000,78.238095
20,2025,OKC,Oklahoma City Thunder,24.000000,2.812500,204.833333,78.500000
28,2025,UTA,Utah Jazz,24.722222,3.777778,220.500000,78.833333
29,2025,WAS,Washington Wizards,24.941176,3.941176,219.500000,79.470588
0,2025,ATL,Atlanta Hawks,25.333333,3.523810,215.947368,79.000000

### Append pre-season odds

In [126]:
# https://www.basketball-reference.com/leagues/NBA_2025_preseason_odds.html

def scrape_preseason_odds(season):
    all_data = pd.DataFrame()


    url = f"https://www.basketball-reference.com/leagues/NBA_{season}_preseason_odds.html"

    response = requests.get(url)

    # print(response)
    # print(url)

    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        table = soup.find('table', {'id': 'NBA_preseason_odds'})

        if table:
            df = pd.read_html(io.StringIO(str(table)))[0]

            all_data = pd.concat([all_data, df], ignore_index=True)

        else:
        
            print(f"No table found for {season}")

    else:
        print(f"Failed to retrieve data for {season}")

    return all_data

In [ ]:
preseason_odds = scrape_preseason_odds(2025)

In [205]:
avg_n_odds = pd.merge(avg_roster, preseason_odds, left_on='team_full_name', right_on='Team', how='left')

avg_n_odds.drop(columns='Team', inplace=True)

In [206]:
avg_n_odds.sample(5)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds
26,2025,SAS,San Antonio Spurs,24.300000,3.800000,207.000000,78.550000,10000
8,2025,DET,Detroit Pistons,24.444444,3.055556,209.400000,78.555556,100000
24,2025,POR,Portland Trail Blazers,24.400000,3.050000,208.736842,79.300000,100000
12,2025,LAC,Los Angeles Clippers,27.000000,5.666667,216.470588,77.952381,3000
13,2025,LAL,Los Angeles Lakers,25.700000,4.400000,216.941176,79.400000,3000

### Append salary stats

In [490]:
def clean_salaries(salaries):
    
    salaries = salaries.head(25)

    salaries.rename(columns={"Unnamed: 1":"player_name"}, inplace=True)
    
    salaries['Salary'] = salaries['Salary'].fillna(0)

    salaries['Salary'] = salaries['Salary'].replace({r'\$': '', ',': ''}, regex=True).astype(int)

    salaries = salaries.sort_values(by='Salary', ascending=False)

    salaries = salaries.drop(columns=['Rk'])

    return salaries

<>:9: SyntaxWarning: invalid escape sequence '\$'
<>:9: SyntaxWarning: invalid escape sequence '\$'
/var/folders/_8/rdftlf6j3n5dq8s2vsk7f2wh0000gn/T/ipykernel_66760/1335304924.py:9: SyntaxWarning: invalid escape sequence '\$'
  salaries['Salary'] = salaries['Salary'].replace({'\$': '', ',': ''}, regex=True).astype(int)

In [491]:
# https://www.basketball-reference.com/teams/CHO/2025.html

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

def scrape_salaries(
        season,
        team_names,
        driver,
    ):

    all_data = pd.DataFrame()

    for team in team_names:

        url = f"https://www.basketball-reference.com/teams/{team}/{season}.html"

        driver.get(url)

        time.sleep(5)

        soup = BeautifulSoup(driver.page_source, 'html.parser')

        div = soup.find('div', {'id': 'div_salaries2'})
        
        if div:
            table = div.find('table', {'id': 'salaries2'})
            if table:
                df = pd.read_html(io.StringIO(str(table)))[0]
                df['Season'] = season
                df['team']= team
                df = clean_salaries(df)
                all_data = pd.concat([all_data, df], ignore_index=True)
            else:
                print(f"No table found inside the div for {team} in {season}")
        else:
            print(f"No div with id 'div_salaries2' found for {team} in {season}")
            
    return all_data

In [ ]:
driver = webdriver.Chrome() 

salaries = scrape_salaries(
    2024, 
    team_names,
    driver,
)

driver.quit()

#### Finding the number of top players per team per season

In [497]:
def count_top_players(salaries,threshold=20):
    # based on the teams salaries we are trying to identify the numbers of stars/top players on the team (a good example is the Phoenix Suns in 2025)

    above = salaries[salaries['salary_percentage'] > threshold].shape[0]
    below = salaries[salaries['salary_percentage'] <= threshold].shape[0]
    
    return pd.Series({'top_players': above, 'not_top_players': below})

In [498]:
def find_top_players(salaries):
    total_salary = salaries.groupby(['team', 'Season'])['Salary'].sum().reset_index(name='total_salary')

    salaries = salaries.merge(total_salary, on=['team', 'Season'], how='left')

    salaries['salary_percentage'] = (salaries['Salary'] / salaries['total_salary']) * 100

    top_players = salaries.groupby(['team', 'Season']).apply(count_top_players).reset_index()
    
    return top_players

In [435]:
salaries[salaries['team']=='LAL'].sort_values('salary_percentage', ascending=False).head(20)

,player_name,Salary,Season,team,total_salary,salary_percentage
194,LeBron James,48728845,2025,LAL,187028846,26.054187
195,Anthony Davis,43219440,2025,LAL,187028846,23.108435
196,D'Angelo Russell,18692307,2025,LAL,187028846,9.994344
197,Rui Hachimura,17000000,2025,LAL,187028846,9.089507
198,Austin Reaves,12976362,2025,LAL,187028846,6.938161
199,Gabe Vincent,11000000,2025,LAL,187028846,5.881446
200,Jarred Vanderbilt,10714286,2025,LAL,187028846,5.728681
201,Max Christie,7142857,2025,LAL,187028846,3.819121
202,Jalen Hood-Schifino,3879840,2025,LAL,187028846,2.074461
203,Dalton Knecht,3819120,2025,LAL,187028846,2.041995
204,Christian Wood,3036040,2025,LAL,187028846,1.623300
205,Cam Reddish,2463946,2025,LAL,187028846,1.317415
206,Jaxson Hayes,2463946,2025,LAL,187028846,1.317415
207,Maxwell Lewis,1891857,2025,LAL,187028846,1.011532

In [430]:
team_salary_stats = salaries.groupby(['team', 'Season']).agg(
    highest_salary=('Salary', 'max'),
    median_salary=('Salary', 'median'),
    total_salary=('Salary', 'sum'),
    
).reset_index()

top_players = find_top_players(salaries)

team_salary_stats = pd.merge(team_salary_stats, top_players, on=['team', 'Season'], how="left")

In [431]:
team_salary_stats.sample(3)

,team,Season,highest_salary,median_salary,total_salary,top_players,not_top_players
10,HOU,2025,42846615,9249960.0,165026987,1,14
29,WAS,2025,29651786,6692959.0,158877689,0,16
18,NOP,2025,36725670,5159854.0,163702985,3,8

In [433]:
avg_odds_salary_players = pd.merge(avg_n_odds, team_salary_stats,on=['team', 'Season'], how='left')

In [437]:
avg_odds_salary_players.sample(10)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players
2,2025,BRK,Brooklyn Nets,24.947368,3.947368,214.111111,79.052632,100000,40338144,4041249.0,165717974,1,14
5,2025,CLE,Cleveland Cavaliers,25.750000,4.200000,208.263158,77.950000,5000,36725670,8500000.0,161102772,2,11
15,2025,MIA,Miami Heat,26.700000,5.050000,218.750000,78.000000,4000,48798677,4655040.0,184058374,1,12
18,2025,NOP,New Orleans Pelicans,25.750000,3.150000,210.941176,78.400000,5000,36725670,5159854.0,163702985,3,8
29,2025,WAS,Washington Wizards,24.941176,3.941176,219.500000,79.470588,100000,29651786,6692959.0,158877689,0,16
17,2025,MIN,Minnesota Timberwolves,26.210526,4.578947,220.533333,79.263158,850,49205800,5287710.0,205560682,3,11
1,2025,BOS,Boston Celtics,26.318182,4.727273,220.315789,79.318182,300,49700000,3256341.5,201620656,1,15
25,2025,SAC,Sacramento Kings,26.000000,4.611111,212.071429,78.388889,6600,40500000,8000000.0,167640684,2,11
14,2025,MEM,Memphis Grizzlies,25.050000,3.150000,213.266667,78.900000,4000,36725670,4858705.5,177014145,1,15
20,2025,OKC,Oklahoma City Thunder,24.000000,2.812500,204.833333,78.500000,900,35859950,6669000.0,159241956,1,14

In [436]:
avg_odds_salary_players.to_csv('data/2025_team_data.csv')

### Append Franchise History/Championship stats

In [606]:
def clean_champions(df):

    nba_champions = df[[('Unnamed: 0_level_0', 'Year'), ('Finals', 'Champion')]]
    nba_champions.columns = ['Year', 'Champion']

    nba_champions = nba_champions[nba_champions.Year.notna()]

    nba_champions.Year = nba_champions.Year.astype(int)

    return nba_champions

In [607]:
# https://www.basketball-reference.com/playoffs/

def scrape_champions():
    df = pd.DataFrame()

    url = f"https://www.basketball-reference.com/playoffs/"

    response = requests.get(url)

    # print(response)
    # print(url)

    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        table = soup.find('table', {'id': 'champions_index'})

        if table:
            df = pd.read_html(io.StringIO(str(table)))[0]
            df = clean_champions(df)
        else:
        
            print(f"No table found ")

    else:
        print(f"Failed to retrieve data ")

    return df

In [715]:
# Count number of championships for a given team and season

def nb_championships(team_names, season):

    nba_champions = scrape_champions()

    rev_team_names = {v: k for k, v in team_names.items()}

    nba_champions['team'] = nba_champions['Champion'].map(rev_team_names)
    
    team_championships = []
    
    for team in team_names:
        nb = len(nba_champions[(nba_champions['team'] == team) & (nba_champions['Year'] <= season)])
        
        team_championships.append({
            'team': team,
            'Season': season,
            'nb_championships': nb,
            'winner': len(nba_champions[(nba_champions['team'] == team) & (nba_champions['Year'] == season)]),
        })
    
    df = pd.DataFrame(team_championships)
    
    return df

In [716]:
team_championships = nb_championships(team_names,2025)

In [717]:

avg_odds_salary_players_champ = avg_odds_salary_players.merge(team_championships, on=['team', 'Season'], how='left')

In [718]:
avg_odds_salary_players_champ.tail(5)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,winner
25,2025,SAC,Sacramento Kings,26.000000,4.611111,212.071429,78.388889,6600,40500000,8000000.0,167640684,2,11,0,0
26,2025,SAS,San Antonio Spurs,24.300000,3.800000,207.000000,78.550000,10000,29347826,9104643.5,142918889,1,13,5,0
27,2025,TOR,Toronto Raptors,25.368421,3.631579,210.615385,78.210526,50000,32500000,10130980.0,155718137,1,12,1,0
28,2025,UTA,Utah Jazz,24.722222,3.777778,220.500000,78.833333,50000,42176400,5469120.0,128678582,2,9,0,0
29,2025,WAS,Washington Wizards,24.941176,3.941176,219.500000,79.470588,100000,29651786,6692959.0,158877689,0,16,0,0

### Append ranking

In [777]:
def clean_ranking(df):

    # conf = df.columns[0][:3].upper()        
    # df.rename(columns={df.columns[0]: conf}, inplace=True)
    df.rename(columns={df.columns[0]: 'team_full_name'}, inplace=True)


    df[df.columns[0]] = df[df.columns[0]].replace({r'\*': ''}, regex=True)
    
    df['ranking'] = df.index + 1

    df = df[['Season',df.columns[0], 'ranking']]
    return df

In [786]:
# https://www.basketball-reference.com/leagues/NBA_2024_standings.html

def scrape_ranking(season):
    all_data = pd.DataFrame()


    url = f"https://www.basketball-reference.com/leagues/NBA_{season}_standings.html"

    response = requests.get(url)

    # print(response)
    # print(url)

    for id in ['confs_standings_W','confs_standings_E']:
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            table = soup.find('table', {'id': id})

            if table:
                df = pd.read_html(io.StringIO(str(table)))[0]
                
                df['Season'] = season

                df = clean_ranking(df)

                all_data = pd.concat([all_data, df], ignore_index=True)

            else:
            
                print(f"No table found for {season}")

        else:
            print(f"Failed to retrieve data for {season}")

    return all_data

In [790]:
ranking = scrape_ranking(2024)

In [792]:
avg_odds_salary_players_champ_rk = avg_odds_salary_players_champ.merge(ranking, on=['team_full_name', 'Season'], how='left')

In [793]:
avg_odds_salary_players_champ_rk.head(5)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,winner,ranking
0,2025,ATL,Atlanta Hawks,25.333333,3.523810,215.947368,79.000000,15000,43031940,6059520.0,169529070,1,14,0,0,NaN
1,2025,BOS,Boston Celtics,26.318182,4.727273,220.315789,79.318182,300,49700000,3256341.5,201620656,1,15,18,0,NaN
2,2025,BRK,Brooklyn Nets,24.947368,3.947368,214.111111,79.052632,100000,40338144,4041249.0,165717974,1,14,0,0,NaN
3,2025,CHI,Chicago Bulls,24.952381,3.619048,213.500000,78.476190,50000,43031940,7000000.0,166079908,1,14,6,0,NaN
4,2025,CHO,Charlotte Hornets,25.500000,3.400000,210.722222,78.700000,100000,35147000,5250000.0,153709214,1,16,0,0,NaN

### Loop for multiple seasons :o

In [ ]:
def scrape_all_rosters():
    all_rosters = pd.DataFrame()

    for season in range(start, end):  
        print(f"Scraping data for the {season-1}-{season} season...")

        roster = scrape_roster(season,team_names)

        if roster is not None:
            all_rosters = pd.concat([all_rosters, roster], ignore_index=True)

    all_avg_roster = team_avg_roster(all_rosters)
    
    return all_avg_roster

all_avg_roster = scrape_all_rosters()

In [476]:
all_avg_roster.to_csv(f"data/{start}_{end-1}_avg_roster.csv")

In [ ]:
def scrape_all_preseason_odds():
    all_preseason_odds = pd.DataFrame()

    for season in range(start, end):  
        print(f"Scraping data for the {season-1}-{season} season...")

        preseason_odds = scrape_preseason_odds(season,team_names)

        if preseason_odds is not None:
            all_preseason_odds = pd.concat([all_preseason_odds, preseason_odds], ignore_index=True)

    return all_preseason_odds

all_preseason_odds = scrape_all_preseason_odds()

all_avg_n_odds = pd.merge(avg_roster, preseason_odds, left_on='team_full_name', right_on='Team', how='left')

all_avg_n_odds.drop(columns='Team', inplace=True)

In [479]:
all_avg_n_odds.to_csv(f"data/{start}_{end-1}_avg_n_odds.csv")

In [ ]:
def scrape_all_salaries():
    all_salaries = pd.DataFrame()

    driver = webdriver.Chrome() 

    for season in range(start, end):  
        print(f"Scraping data for the {season-1}-{season} season...")

        salaries = scrape_salaries(
            season,
            team_names,
            driver,
        )

        if salaries is not None:
            all_salaries = pd.concat([all_salaries, salaries], ignore_index=True)

    driver.quit()
    
    return all_salaries

all_salaries = scrape_all_salaries()

In [509]:
all_salaries.to_csv(f"data/{start}_{end-1}_salaries_stats.csv")

In [ ]:
all_top_players = find_top_players(all_salaries)

team_salary_stats = all_salaries.groupby(['team', 'Season']).agg(
    highest_salary=('Salary', 'max'),
    median_salary=('Salary', 'median'),
    total_salary=('Salary', 'sum'),
    
).reset_index()

all_team_salary_stats = pd.merge(team_salary_stats, all_top_players, on=['team', 'Season'], how="left")

In [541]:
all_avg_odds_salary_players = pd.merge(all_avg_n_odds, all_team_salary_stats,on=['team', 'Season'], how='left')

In [712]:
def all_nba_championships(team_names,seasons_list):
    
    all_team_championships = pd.DataFrame()

    for season in seasons_list:
        team_championships = nb_championships(team_names,season)
        
        all_team_championships = pd.concat([all_team_championships, team_championships], ignore_index=True)

    return all_team_championships

In [719]:
all_team_championships = all_nba_championships(team_names,seasons_list)

In [720]:
all_avg_odds_salary_players_champ = all_avg_odds_salary_players.merge(all_team_championships, on=['team', 'Season'], how='left')

In [721]:
all_avg_odds_salary_players_champ[all_avg_odds_salary_players_champ.team=='BOS']

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,winner
2,2023,BOS,Boston Celtics,26.722222,5.333333,225.388889,78.944444,300,30351780,3903140.5,175733265,0,18,17,0
3,2024,BOS,Boston Celtics,25.894737,4.684211,216.631579,79.263158,300,36861707,2019706.0,183679244,1,20,18,1

In [722]:
all_avg_odds_salary_players_champ.sample(10)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,winner
52,2023,SAS,San Antonio Spurs,23.652174,3.000000,218.130435,78.869565,10000,13750000,2600000.0,101438004,0,25,5,0
34,2023,MIN,Minnesota Timberwolves,25.500000,4.400000,214.600000,78.150000,850,38172414,1930681.0,143519708,2,19,0,0
14,2023,DEN,Denver Nuggets,26.666667,5.611111,221.611111,78.555556,750,33047803,2808600.0,159119037,1,16,1,1
23,2024,IND,Indiana Pacers,25.500000,3.863636,214.772727,78.681818,5000,37893408,2696280.0,145587839,1,24,3,0
11,2024,CLE,Cleveland Cavaliers,26.000000,4.555556,217.277778,79.000000,5000,34005250,2229365.5,164211423,2,22,1,0
58,2023,WAS,Washington Wizards,25.565217,3.347826,209.217391,78.695652,100000,43279250,1836090.0,150006207,2,21,0,0
13,2024,DAL,Dallas Mavericks,26.000000,4.727273,215.500000,78.590909,1000,40064220,2541022.0,163631110,2,20,1,0
8,2023,CHO,Charlotte Hornets,24.473684,3.421053,207.157895,79.000000,100000,30075000,2372565.0,124541054,1,21,0,0
55,2024,TOR,Toronto Raptors,25.900000,4.266667,208.333333,77.966667,50000,23883929,3000000.0,161292652,0,25,1,0
38,2023,NYK,New York Knicks,25.000000,4.055556,216.277778,78.111111,725,27733332,1601680.0,146839447,0,24,2,0

In [723]:
all_avg_odds_salary_players_champ.to_csv(f"data/{start}_{end-1}_avg_odds_salary_players_champ.csv")

In [796]:
def all_scrape_ranking(seasons_list):
    
    all_ranking = pd.DataFrame()

    for season in seasons_list:
        ranking = scrape_ranking(season)
        all_ranking = pd.concat([all_ranking, ranking], ignore_index=True)

    return all_ranking

In [798]:
all_ranking = all_scrape_ranking(seasons_list)

In [801]:
all_avg_odds_salary_players_champ_rk = all_avg_odds_salary_players_champ.merge(all_ranking, on=['team_full_name', 'Season'], how='left')

In [802]:
all_avg_odds_salary_players_champ_rk

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,winner,ranking
0,2023,ATL,Atlanta Hawks,24.700000,3.350000,211.050000,78.500000,15000,37096500,2755015.5,148633740,1,19,0,0,8
1,2024,ATL,Atlanta Hawks,25.789474,4.368421,210.631579,78.263158,15000,40064220,2753441.0,157259361,1,21,0,0,10
2,2023,BOS,Boston Celtics,26.722222,5.333333,225.388889,78.944444,300,30351780,3903140.5,175733265,0,18,17,0,2
3,2024,BOS,Boston Celtics,25.894737,4.684211,216.631579,79.263158,300,36861707,2019706.0,183679244,1,20,18,1,1
4,2023,BRK,Brooklyn Nets,27.000000,5.120000,218.560000,78.800000,100000,35448672,2138160.0,157516641,1,22,0,0,6
5,2024,BRK,Brooklyn Nets,25.095238,3.809524,214.095238,78.238095,100000,37893408,2210040.0,152943858,1,22,0,0,11
6,2023,CHI,Chicago Bulls,26.666667,5.277778,213.000000,78.055556,50000,37096500,1836090.0,149421485,1,22,6,0,10
7,2024,CHI,Chicago Bulls,26.111111,4.388889,213.944444,78.388889,50000,40064220,3350760.0,167689263,1,22,6,0,9
8,2023,CHO,Charlotte Hornets,24.473684,3.421053,207.157895,79.000000,100000,30075000,2372565.0,124541054,1,21,0,0,14
9,2024,CHO,Charlotte Hornets,25.076923,3.615385,205.153846,78.576923,100000,29682540,3191400.0,138530978,1,24,0,0,13
10,2023,CLE,Cleveland Cavaliers,26.944444,5.388889,220.500000,78.444444,5000,30913750,2000000.0,149251300,1,20,1,0,4
11,2024,CLE,Cleveland Cavaliers,26.000000,4.555556,217.277778,79.000000,5000,34005250,2229365.5,164211423,2,22,1,0,4
12,2023,DAL,Dallas Mavericks,28.000000,5.913043,211.521739,77.739130,1000,38917057,1936204.0,173241988,2,20,1,0,11
13,2024,DAL,Dallas Mavericks,26.000000,4.727273,215.500000,78.590909,1000,40064220,2541022.0,163631110,2,20,1,0,5
14,2023,DEN,Denver Nuggets,26.666667,5.611111,221.611111,78.555556,750,33047803,2808600.0,159119037,1,16,1,1,1
15,2024,DEN,Denver Nuggets,26.294118,4.882353,221.235294,79.117647,750,47607350,2367300.0,177890198,1,17,1,0,2
16,2023,DET,Detroit Pistons,24.272727,3.136364,217.545455,78.681818,100000,19550000,4124280.0,126605293,0,25,3,0,15
17,2024,DET,Detroit Pistons,25.806452,4.387097,215.612903,78.580645,100000,19928571,4000000.0,136207675,0,25,3,0,15
18,2023,GSW,Golden State Warriors,26.166667,5.222222,209.055556,78.055556,3000,48070014,2226000.0,189502439,2,19,5,0,6
19,2024,GSW,Golden State Warriors,27.166667,5.833333,207.555556,77.555556,3000,51915615,3352440.0,206814776,2,17,5,0,10
20,2023,HOU,Houston Rockets,23.611111,2.555556,221.000000,78.722222,10000,40866760,3359160.0,136542494,1,24,2,0,14
21,2024,HOU,Houston Rockets,25.823529,3.823529,221.058824,78.823529,10000,40806300,3531720.0,153204959,1,21,2,0,11
22,2023,IND,Indiana Pacers,25.400000,3.550000,212.100000,78.500000,5000,35069500,2573760.0,122145349,1,24,3,0,11
23,2024,IND,Indiana Pacers,25.500000,3.863636,214.772727,78.681818,5000,37893408,2696280.0,145587839,1,24,3,0,6
24,2023,LAC,Los Angeles Clippers,28.238095,6.857143,211.428571,78.285714,3000,42492492,2798291.0,191189228,2,18,0,0,5
25,2024,LAC,Los Angeles Clippers,28.380952,6.714286,214.809524,78.523810,3000,45640084,3039993.5,200060815,2,18,0,0,4
26,2023,LAL,Los Angeles Lakers,26.692308,5.346154,212.038462,78.115385,3000,44474988,1857405.0,167412786,2,18,12,0,7
27,2024,LAL,Los Angeles Lakers,25.619048,4.523810,214.523810,79.047619,3000,47607350,2165000.0,168113984,2,19,12,0,8
28,2023,MEM,Memphis Grizzlies,24.052632,3.052632,218.315789,77.631579,4000,28946605,2444320.0,126788905,1,19,0,0,2
29,2024,MEM,Memphis Grizzlies,24.969697,3.060606,214.939394,77.939394,4000,34005250,2400000.0,160019663,1,24,0,0,13
30,2023,MIA,Miami Heat,27.700000,5.550000,219.600000,78.800000,4000,37653300,1815677.0,149093861,2,20,3,0,7
31,2024,MIA,Miami Heat,27.380952,5.666667,211.333333,78.000000,4000,45183960,2352000.0,174695832,1,20,3,0,8
32,2023,MIL,Milwaukee Bucks,29.476190,7.476190,220.380952,78.857143,1100,42492492,2485200.0,178933725,2,17,2,0,1
33,2024,MIL,Milwaukee Bucks,28.285714,6.714286,217.238095,78.380952,1100,45640084,2019706.0,182226590,2,18,2,0,3
34,2023,MIN,Minnesota Timberwolves,25.500000,4.400000,214.600000,78.150000,850,38172414,1930681.0,143519708,2,19,0,0,8
35,2024,MIN,Minnesota Timberwolves,25.894737,5.105263,216.052632,78.736842,850,41000000,2320000.0,164428789,2,19,0,0,3
36,2023,NOP,New Orleans Pelicans,25.588235,4.294118,211.647059,78.411765,5000,33333333,3605400.0,147340203,2,18,0,0,9
37,2024,NOP,New Orleans Pelicans,25.200000,3.350000,212.500000,78.350000,5000,35802469,1836096.0,164937685,3,20,0,0,7
38,2023,NYK,New York Knicks,25.000000,4.055556,216.277778,78.111111,725,27733332,1601680.0,146839447,0,24,2,0,5
39,2024,NYK,New York Knicks,26.807692,5.000000,216.500000,78.461538,725,28226880,1836096.0,165734884,0,25,2,0,2
40,2023,OKC,Oklahoma City Thunder,23.210526,2.105263,210.157895,79.210526,900,30913750,3046200.0,148489515,1,24,0,0,10
41,2024,OKC,Oklahoma City Thunder,24.909091,3.409091,209.636364,79.045455,900,33386850,2588400.0,160502705,2,23,0,0,1
42,2023,ORL,Orlando Magic,23.850000,3.200000,220.600000,79.400000,8000,17400000,3433320.0,125177282,0,21,0,0,13
43,2024,ORL,Orlando Magic,24.444444,3.333333,221.833333,79.277778,8000,17400000,6392625.5,130964229,0,18,0,0,5
44,2023,PHI,Philadelphia 76ers,25.952381,4.714286,217.904762,78.285714,1400,37633050,2125200.0,149571525,3,18,2,0,3
45,2024,PHI,Philadelphia 76ers,27.821429,6.428571,214.107143,78.107143,1400,47607350,2019706.0,166735219,2,23,2,0,7
46,2023,PHO,Phoenix Suns,27.600000,5.750000,216.000000,78.400000,3500,44119845,1836090.0,172327721,1,19,0,0,4
47,2024,PHO,Phoenix Suns,27.681818,6.500000,223.272727,78.227273,3500,47649433,2623236.5,191331329,2,20,0,0,6
48,2023,POR,Portland Trail Blazers,24.500000,3.333333,209.916667,78.208333,100000,42492492,1836090.0,144235655,1,24,1,0,13
49,2024,POR,Portland Trail Blazers,24.272727,2.318182,215.181818,78.909091,100000,32459438,1951220.0,165919847,0,25,1,0,15
50,2023,SAC,Sacramento Kings,25.650000,4.050000,216.100000,78.900000,6600,30351780,1906496.5,134629166,1,23,0,0,3
51,2024,SAC,Sacramento Kings,26.150000,4.100000,212.850000,78.900000,6600,32600060,2019706.0,149993550,2,23,0,0,9
52,2023,SAS,San Antonio Spurs,23.652174,3.000000,218.130435,78.869565,10000,13750000,2600000.0,101438004,0,25,5,0,15
53,2024,SAS,San Antonio Spurs,23.400000,2.550000,214.900000,78.950000,10000,20000000,4341600.0,140908582,0,25,5,0,14
54,2023,TOR,Toronto Raptors,25.750000,4.300000,213.850000,78.950000,50000,35448672,1836090.0,149485166,1,24,1,0,9
55,2024,TOR,Toronto Raptors,25.900000,4.266667,208.333333,77.966667,50000,23883929,3000000.0,161292652,0,25,1,0,12
56,2023,UTA,Utah Jazz,25.695652,4.347826,220.956522,78.695652,50000,46295265,2298385.0,147924401,1,24,0,0,12
57,2024,UTA,Utah Jazz,24.238095,3.190476,220.523810,79.047619,50000,25340000,2586665.0,131557410,0,23,0,0,12
58,2023,WAS,Washington Wizards,25.565217,3.347826,209.217391,78.695652,100000,43279250,1836090.0,150006207,2,21,0,0,12
59,2024,WAS,Washington Wizards,25.166667,3.875000,214.500000,79.125000,100000,27455357,2337720.0,148282937,0,25,0,0,14

In [803]:
all_avg_odds_salary_players_champ_rk.to_csv(f"data/{start}_{end-1}_avg_odds_salary_players_champ_rk.csv")

### Other

In [ ]:
# def scrape_season(season):
#     all_data = pd.DataFrame()

#     url = f'https://www.basketball-reference.com/leagues/NBA_{season}.html'
#     response = requests.get(url)

#     if response.status_code == 200:
#         soup = BeautifulSoup(response.content, 'html.parser')
#         table = soup.find('table', {'id': 'totals-team'})

#         if table:
#             df = pd.read_html(io.StringIO(str(table)))[0]

#             df['Season'] = season

#             all_data = pd.concat([all_data, df], ignore_index=True)
#         else:
#             print(f"No table found for {season}")
#     else:
#         print(f"Failed to retrieve data for {season}")

#     time.sleep(4)

#     return all_data

# def scrape_all_seasons():
#     all_data = pd.DataFrame()

#     for season in range(start, end):  
#         data = scrape_season(str(season))

#         if data is not None:
#             data['Season'] = season
#             all_data = pd.concat([all_data, data], ignore_index=True)

#             print(f"Scraping data for season {season}")

#     return all_data

# result = scrape_all_seasons()

# result['make_playoffs'] = result['Team'].apply(lambda x: 1 if '*' in x else 0)
# result['Team'] = result['Team'].str.replace('*', '')

# result.head(10)

In [ ]:
# def scrape_season_table(season, table_id):
#     all_data = pd.DataFrame()

#     url = f'https://www.basketball-reference.com/awards/awards_{season}.html'

#     options = webdriver.ChromeOptions()
#     options.add_argument('--headless')  
#     driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)
#     driver.get(url)

#     try:
#         table = driver.find_element(By.ID, table_id)
#         table_html = table.get_attribute('outerHTML')
#         driver.quit()

#         df = pd.read_html(StringIO(table_html), header=[1])[0]

#         df['Season'] = season
#         df['award_type'] = table_id

#         all_data = pd.concat([all_data, df], ignore_index=True)
#     except Exception as e:
#         print(f"No table found for {table_id} in {season}")
#         print(e)
#         driver.quit()
#         return None

#     time.sleep(5)

#     return all_data

# def scrape_all_seasons_tables(seasons, table_ids):
#     all_data = pd.DataFrame()

#     total_tasks = len(seasons) * len(table_ids)
#     task_count = 0

#     for season in reversed(seasons):
#         for table_id in table_ids:
#             data = scrape_season_table(season, table_id)

#             if data is not None:
#                 all_data = pd.concat([all_data, data], ignore_index=True)

#             task_count += 1
#             completion_percentage = (task_count / total_tasks) * 100
#             sys.stdout.write(f"\rScraping: [{'#' * int(completion_percentage // 2)}{' ' * (50 - int(completion_percentage // 2))}] {completion_percentage:.2f}%")
#             sys.stdout.flush()

#     sys.stdout.flush()

#     print("Columns before removing 'Unnamed':", all_data.columns)

#     all_data.columns = all_data.columns.map(str)
#     all_data = all_data.loc[:, ~all_data.columns.str.contains('^Unnamed')]

#     print("Columns after removing 'Unnamed':", all_data.columns)

#     if isinstance(all_data.columns, pd.MultiIndex):
#         all_data.columns = [' '.join(col).strip() for col in all_data.columns.values]

#     print("Columns after flattening MultiIndex:", all_data.columns)
    
#     return all_data

# seasons_list = [str(year) for year in range(start, end)]
# table_ids = ['mvp', 'roy', 'dpoy', 'smoy', 'mip', 'clutch_poy', 'leading_all_nba', 'leading_all_defense', 'leading_all_rookie', 'coy']

# result = scrape_all_seasons_tables(seasons_list, table_ids)

# all_award_voting = result

# #save
# all_award_voting.to_csv('all_award_voting.csv', index=False, encoding="utf-8-sig")