In [38]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
import sys
import io

In [1141]:
start = 2013
end = 2014

end += 1

seasons_list = [year for year in range(start, end)]
seasons_list

[2013, 2014]

In [1137]:
def get_team_names(season):
    if season == 2013:
        team_names = {
        'ATL': 'Atlanta Hawks',
        'BOS': 'Boston Celtics',
        'BRK': 'Brooklyn Nets',
        'CHA': 'Charlotte Bobcats',
        'CHI': 'Chicago Bulls',
        'CLE': 'Cleveland Cavaliers',
        'DAL': 'Dallas Mavericks',
        'DEN': 'Denver Nuggets',
        'DET': 'Detroit Pistons',
        'GSW': 'Golden State Warriors',
        'HOU': 'Houston Rockets',
        'IND': 'Indiana Pacers',
        'LAC': 'Los Angeles Clippers',
        'LAL': 'Los Angeles Lakers',
        'MEM': 'Memphis Grizzlies',
        'MIA': 'Miami Heat',
        'MIL': 'Milwaukee Bucks',
        'MIN': 'Minnesota Timberwolves',
        'NOH': 'New Orleans Hornets',
        'NYK': 'New York Knicks',
        'OKC': 'Oklahoma City Thunder',
        'ORL': 'Orlando Magic',
        'PHI': 'Philadelphia 76ers',
        'PHO': 'Phoenix Suns',
        'POR': 'Portland Trail Blazers',
        'SAC': 'Sacramento Kings',
        'SAS': 'San Antonio Spurs',
        'TOR': 'Toronto Raptors',
        'UTA': 'Utah Jazz',
        'WAS': 'Washington Wizards'
    }
    elif season == 2014:
        team_names = {
            'ATL': 'Atlanta Hawks',
            'BOS': 'Boston Celtics',
            'BRK': 'Brooklyn Nets',
            'CHA': 'Charlotte Bobcats',
            'CHI': 'Chicago Bulls',
            'CLE': 'Cleveland Cavaliers',
            'DAL': 'Dallas Mavericks',
            'DEN': 'Denver Nuggets',
            'DET': 'Detroit Pistons',
            'GSW': 'Golden State Warriors',
            'HOU': 'Houston Rockets',
            'IND': 'Indiana Pacers',
            'LAC': 'Los Angeles Clippers',
            'LAL': 'Los Angeles Lakers',
            'MEM': 'Memphis Grizzlies',
            'MIA': 'Miami Heat',
            'MIL': 'Milwaukee Bucks',
            'MIN': 'Minnesota Timberwolves',
            'NOP': 'New Orleans Pelicans',
            'NYK': 'New York Knicks',
            'OKC': 'Oklahoma City Thunder',
            'ORL': 'Orlando Magic',
            'PHI': 'Philadelphia 76ers',
            'PHO': 'Phoenix Suns',
            'POR': 'Portland Trail Blazers',
            'SAC': 'Sacramento Kings',
            'SAS': 'San Antonio Spurs',
            'TOR': 'Toronto Raptors',
            'UTA': 'Utah Jazz',
            'WAS': 'Washington Wizards'
        }
    elif season<2013:
        team_names = {
            'ATL': 'Atlanta Hawks',
            'BOS': 'Boston Celtics',
            'NJN': 'New Jersey Nets',
            'CHA': 'Charlotte Bobcats',
            'CHI': 'Chicago Bulls',
            'CLE': 'Cleveland Cavaliers',
            'DAL': 'Dallas Mavericks',
            'DEN': 'Denver Nuggets',
            'DET': 'Detroit Pistons',
            'GSW': 'Golden State Warriors',
            'HOU': 'Houston Rockets',
            'IND': 'Indiana Pacers',
            'LAC': 'Los Angeles Clippers',
            'LAL': 'Los Angeles Lakers',
            'MEM': 'Memphis Grizzlies',
            'MIA': 'Miami Heat',
            'MIL': 'Milwaukee Bucks',
            'MIN': 'Minnesota Timberwolves',
            'NOH': 'New Orleans Hornets',
            'NYK': 'New York Knicks',
            'OKC': 'Oklahoma City Thunder',
            'ORL': 'Orlando Magic',
            'PHI': 'Philadelphia 76ers',
            'PHO': 'Phoenix Suns',
            'POR': 'Portland Trail Blazers',
            'SAC': 'Sacramento Kings',
            'SAS': 'San Antonio Spurs',
            'TOR': 'Toronto Raptors',
            'UTA': 'Utah Jazz',
            'WAS': 'Washington Wizards'
        }
    else:
        team_names = {
        'ATL': 'Atlanta Hawks',
        'BOS': 'Boston Celtics',
        'BRK': 'Brooklyn Nets',
        'CHO': 'Charlotte Hornets',
        'CHI': 'Chicago Bulls',
        'CLE': 'Cleveland Cavaliers',
        'DAL': 'Dallas Mavericks',
        'DEN': 'Denver Nuggets',
        'DET': 'Detroit Pistons',
        'GSW': 'Golden State Warriors',
        'HOU': 'Houston Rockets',
        'IND': 'Indiana Pacers',
        'LAC': 'Los Angeles Clippers',
        'LAL': 'Los Angeles Lakers',
        'MEM': 'Memphis Grizzlies',
        'MIA': 'Miami Heat',
        'MIL': 'Milwaukee Bucks',
        'MIN': 'Minnesota Timberwolves',
        'NOP': 'New Orleans Pelicans',
        'NYK': 'New York Knicks',
        'OKC': 'Oklahoma City Thunder',
        'ORL': 'Orlando Magic',
        'PHI': 'Philadelphia 76ers',
        'PHO': 'Phoenix Suns',
        'POR': 'Portland Trail Blazers',
        'SAC': 'Sacramento Kings',
        'SAS': 'San Antonio Spurs',
        'TOR': 'Toronto Raptors',
        'UTA': 'Utah Jazz',
        'WAS': 'Washington Wizards'
    }
    return team_names

team_names = get_team_names(start)

In [1138]:
team_conferences = {
    'ATL': 'EAST',
    'BOS': 'EAST',
    'BRK': 'EAST',
    'NJN': 'EAST',
    'CHA': 'EAST',
    'CHO': 'EAST',
    'CHI': 'EAST',
    'CLE': 'EAST',
    'DAL': 'WEST',
    'DEN': 'WEST',
    'DET': 'EAST',
    'GSW': 'WEST',
    'HOU': 'WEST',
    'IND': 'EAST',
    'LAC': 'WEST',
    'LAL': 'WEST',
    'MEM': 'WEST',
    'MIA': 'EAST',
    'MIL': 'EAST',
    'MIN': 'WEST',
    'NOP': 'WEST',
    'NOH': 'WEST',
    'NYK': 'EAST',
    'OKC': 'WEST',
    'ORL': 'EAST',
    'PHI': 'EAST',
    'PHO': 'WEST',
    'POR': 'WEST',
    'SAC': 'WEST',
    'SAS': 'WEST',
    'TOR': 'EAST',
    'UTA': 'WEST',
    'WAS': 'EAST'
}

In [489]:
# team_names = {
#     # 'DET': 'Detroit Pistons',
#     # 'BOS': 'Boston Celtics',
#     # 'PHO': 'Phoenix Suns',
#     'MEM': 'Memphis Grizzlies',

# }

### Collect Roster Average Stats Per Season

In [139]:
# Convert height to inches (Ht format 'ft-in' to inches)
def height_to_inches(height):
    if pd.isna(height):
        return None
    feet, inches = map(int, height.split('-'))
    return feet * 12 + inches

In [1343]:
def clean_roster(roster, team,team_names):

    roster['ht'] = roster['Ht'].apply(height_to_inches)
    
    roster['birth_year'] = pd.to_datetime(roster['Birth Date']).dt.year

    roster['age'] = roster['Season']- roster['birth_year'] -1

    roster['exp'] = roster['Exp'].replace('R', 0)

    roster['exp'] = roster['exp'].round().astype(int)

    roster['team'] = team

    roster['team_full_name'] = roster['team'].map(team_names)
    
    roster.drop(columns=['College','No.','Player','Pos','Birth Date','Birth','birth_year'], inplace=True)

    return roster

In [1344]:
# https://www.basketball-reference.com/teams/DAL/2025.html

def scrape_roster(season):
    all_data = pd.DataFrame()
    team_names = get_team_names(season)

    for team in team_names:

        url = f"https://www.basketball-reference.com/teams/{team}/{season}.html"

        response = requests.get(url)

        # print(response)
        # print(url)

        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            table = soup.find('table', {'id': 'roster'})

            if table:
                df = pd.read_html(io.StringIO(str(table)))[0]

                df['Season'] = season
                
                df = clean_roster(df,team,team_names)

                all_data = pd.concat([all_data, df], ignore_index=True)

            else:
                print(f"No table found for {season}")

        else:
            print(f"Failed to retrieve data for {season}")

        time.sleep(4)

    return all_data

In [ ]:
# scrape_roster(2014)

In [1353]:
def team_avg_roster(roster):
    avg_roster = roster.groupby(['team', 'team_full_name','Season']).agg(
        avg_age=('age', 'mean'),
        avg_exp=('exp', 'mean'),
        avg_weight=('Wt', 'mean'),
        avg_height=('ht', 'mean')
    ).reset_index()

    avg_roster = avg_roster[['Season','team', 'team_full_name', 'avg_age', 'avg_exp', 'avg_weight', 'avg_height']]
    
    return avg_roster

### Append pre-season odds

In [876]:
# https://www.basketball-reference.com/leagues/NBA_2025_preseason_odds.html

def scrape_preseason_odds(season):
    all_data = pd.DataFrame()

    url = f"https://www.basketball-reference.com/leagues/NBA_{season}_preseason_odds.html"

    response = requests.get(url)

    # print(response)
    # print(url)

    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        table = soup.find('table', {'id': 'NBA_preseason_odds'})

        if table:
            df = pd.read_html(io.StringIO(str(table)))[0]

            all_data = pd.concat([all_data, df], ignore_index=True)

        else:
        
            print(f"No table found for {season}")

    else:
        print(f"Failed to retrieve data for {season}")

    return all_data

In [ ]:
preseason_odds = scrape_preseason_odds(2025)

In [205]:
avg_n_odds = pd.merge(avg_roster, preseason_odds, left_on='team_full_name', right_on='Team', how='left')

avg_n_odds.drop(columns='Team', inplace=True)

In [206]:
avg_n_odds.sample(5)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds
26,2025,SAS,San Antonio Spurs,24.300000,3.800000,207.000000,78.550000,10000
8,2025,DET,Detroit Pistons,24.444444,3.055556,209.400000,78.555556,100000
24,2025,POR,Portland Trail Blazers,24.400000,3.050000,208.736842,79.300000,100000
12,2025,LAC,Los Angeles Clippers,27.000000,5.666667,216.470588,77.952381,3000
13,2025,LAL,Los Angeles Lakers,25.700000,4.400000,216.941176,79.400000,3000

### Append salary stats

In [969]:
def clean_salaries(salaries):
    
    salaries = salaries.head(25).copy()

    salaries.rename(columns={"Unnamed: 1":"player_name"}, inplace=True)
    
    salaries.loc[:, 'Salary'] = salaries['Salary'].fillna(0)

    salaries.loc[:, 'Salary'] = salaries['Salary'].replace({r'\$': '', ',': ''}, regex=True).astype(int)

    salaries = salaries.sort_values(by='Salary', ascending=False)

    salaries = salaries.drop(columns=['Rk'])

    return salaries

In [1122]:
# https://www.basketball-reference.com/teams/CHO/2025.html

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

def scrape_salaries(
        season,
        driver,
    ):

    all_data = pd.DataFrame()
    team_names = get_team_names(season)
    
    for team in team_names:

        url = f"https://www.basketball-reference.com/teams/{team}/{season}.html"

        driver.get(url)

        time.sleep(5)

        soup = BeautifulSoup(driver.page_source, 'html.parser')

        div = soup.find('div', {'id': 'div_salaries2'})
        
        if div:
            table = div.find('table', {'id': 'salaries2'})
            if table:
                df = pd.read_html(io.StringIO(str(table)))[0]
                df['Season'] = season
                df['team']= team
                df = clean_salaries(df)
                all_data = pd.concat([all_data, df], ignore_index=True)
            else:
                print(f"No table found inside the div for {team} in {season}")
        else:
            print(f"No div with id 'div_salaries2' found for {team} in {season}")
            
    return all_data

In [ ]:
driver = webdriver.Chrome() 

salaries = scrape_salaries(
    2024, 
    driver,
)

driver.quit()

#### Finding the number of top players per team per season

In [497]:
def count_top_players(salaries,threshold=20):
    # based on the teams salaries we are trying to identify the numbers of stars/top players on the team (a good example is the Phoenix Suns in 2025)

    above = salaries[salaries['salary_percentage'] > threshold].shape[0]
    below = salaries[salaries['salary_percentage'] <= threshold].shape[0]
    
    return pd.Series({'top_players': above, 'not_top_players': below})

In [498]:
def find_top_players(salaries):
    total_salary = salaries.groupby(['team', 'Season'])['Salary'].sum().reset_index(name='total_salary')

    salaries = salaries.merge(total_salary, on=['team', 'Season'], how='left')

    salaries['salary_percentage'] = (salaries['Salary'] / salaries['total_salary']) * 100

    top_players = salaries.groupby(['team', 'Season']).apply(count_top_players).reset_index()
    
    return top_players

In [435]:
salaries[salaries['team']=='LAL'].sort_values('salary_percentage', ascending=False).head(20)

,player_name,Salary,Season,team,total_salary,salary_percentage
194,LeBron James,48728845,2025,LAL,187028846,26.054187
195,Anthony Davis,43219440,2025,LAL,187028846,23.108435
196,D'Angelo Russell,18692307,2025,LAL,187028846,9.994344
197,Rui Hachimura,17000000,2025,LAL,187028846,9.089507
198,Austin Reaves,12976362,2025,LAL,187028846,6.938161
199,Gabe Vincent,11000000,2025,LAL,187028846,5.881446
200,Jarred Vanderbilt,10714286,2025,LAL,187028846,5.728681
201,Max Christie,7142857,2025,LAL,187028846,3.819121
202,Jalen Hood-Schifino,3879840,2025,LAL,187028846,2.074461
203,Dalton Knecht,3819120,2025,LAL,187028846,2.041995
204,Christian Wood,3036040,2025,LAL,187028846,1.623300
205,Cam Reddish,2463946,2025,LAL,187028846,1.317415
206,Jaxson Hayes,2463946,2025,LAL,187028846,1.317415
207,Maxwell Lewis,1891857,2025,LAL,187028846,1.011532

In [430]:
team_salary_stats = salaries.groupby(['team', 'Season']).agg(
    highest_salary=('Salary', 'max'),
    median_salary=('Salary', 'median'),
    total_salary=('Salary', 'sum'),
    
).reset_index()

top_players = find_top_players(salaries)

team_salary_stats = pd.merge(team_salary_stats, top_players, on=['team', 'Season'], how="left")

In [431]:
team_salary_stats.sample(3)

,team,Season,highest_salary,median_salary,total_salary,top_players,not_top_players
10,HOU,2025,42846615,9249960.0,165026987,1,14
29,WAS,2025,29651786,6692959.0,158877689,0,16
18,NOP,2025,36725670,5159854.0,163702985,3,8

In [433]:
avg_odds_salary_players = pd.merge(avg_n_odds, team_salary_stats,on=['team', 'Season'], how='left')

In [437]:
avg_odds_salary_players.sample(10)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players
2,2025,BRK,Brooklyn Nets,24.947368,3.947368,214.111111,79.052632,100000,40338144,4041249.0,165717974,1,14
5,2025,CLE,Cleveland Cavaliers,25.750000,4.200000,208.263158,77.950000,5000,36725670,8500000.0,161102772,2,11
15,2025,MIA,Miami Heat,26.700000,5.050000,218.750000,78.000000,4000,48798677,4655040.0,184058374,1,12
18,2025,NOP,New Orleans Pelicans,25.750000,3.150000,210.941176,78.400000,5000,36725670,5159854.0,163702985,3,8
29,2025,WAS,Washington Wizards,24.941176,3.941176,219.500000,79.470588,100000,29651786,6692959.0,158877689,0,16
17,2025,MIN,Minnesota Timberwolves,26.210526,4.578947,220.533333,79.263158,850,49205800,5287710.0,205560682,3,11
1,2025,BOS,Boston Celtics,26.318182,4.727273,220.315789,79.318182,300,49700000,3256341.5,201620656,1,15
25,2025,SAC,Sacramento Kings,26.000000,4.611111,212.071429,78.388889,6600,40500000,8000000.0,167640684,2,11
14,2025,MEM,Memphis Grizzlies,25.050000,3.150000,213.266667,78.900000,4000,36725670,4858705.5,177014145,1,15
20,2025,OKC,Oklahoma City Thunder,24.000000,2.812500,204.833333,78.500000,900,35859950,6669000.0,159241956,1,14

In [436]:
avg_odds_salary_players.to_csv('data/2025_team_data.csv')

### Append Franchise History/Championship stats

In [606]:
def clean_champions(df):

    nba_champions = df[[('Unnamed: 0_level_0', 'Year'), ('Finals', 'Champion')]]
    nba_champions.columns = ['Year', 'Champion']

    nba_champions = nba_champions[nba_champions.Year.notna()]

    nba_champions.Year = nba_champions.Year.astype(int)

    return nba_champions

In [607]:
# https://www.basketball-reference.com/playoffs/

def scrape_champions():
    df = pd.DataFrame()

    url = f"https://www.basketball-reference.com/playoffs/"

    response = requests.get(url)

    # print(response)
    # print(url)

    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        table = soup.find('table', {'id': 'champions_index'})

        if table:
            df = pd.read_html(io.StringIO(str(table)))[0]
            df = clean_champions(df)
        else:
        
            print(f"No table found ")

    else:
        print(f"Failed to retrieve data ")

    return df

In [1103]:
# Count number of championships for a given team and season

def nb_championships(season):

    team_names = get_team_names(season)
    
    nba_champions = scrape_champions()

    rev_team_names = {v: k for k, v in team_names.items()}

    nba_champions['team'] = nba_champions['Champion'].map(rev_team_names)
    
    team_championships = []
    
    for team in team_names:
        nb_total = len(nba_champions[
            (nba_champions['team'] == team) & 
            (nba_champions['Year'] <= season)
            ]
        )
        
        nb_interval = len(nba_champions[
            (nba_champions['team'] == team) & 
            (nba_champions['Year'] <= season) & 
            (nba_champions['Year'] > season-4)
            ]
        )
        
        team_championships.append({
            'team': team,
            'Season': season,
            'nb_championships': nb_total,
            'nb_champ_past_4y': nb_interval,
            'winner': len(nba_champions[
                (nba_champions['team'] == team) & 
                (nba_champions['Year'] == season)
                ]
            ),

        })
    
    df = pd.DataFrame(team_championships)
    
    return df

In [1027]:
nb_championships(2020).sample(5)

   team  Season  nb_championships  nb_champ_past_4y  winner
27  TOR    2020                 1                 1       0
9   GSW    2020                 4                 2       0
24  POR    2020                 1                 0       0
0   ATL    2020                 0                 0       0
7   DEN    2020                 0                 0       0

In [716]:
team_championships = nb_championships(team_names,2025)

In [717]:
avg_odds_salary_players_champ = avg_odds_salary_players.merge(team_championships, on=['team', 'Season'], how='left')

In [718]:
avg_odds_salary_players_champ.tail(5)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,winner
25,2025,SAC,Sacramento Kings,26.000000,4.611111,212.071429,78.388889,6600,40500000,8000000.0,167640684,2,11,0,0
26,2025,SAS,San Antonio Spurs,24.300000,3.800000,207.000000,78.550000,10000,29347826,9104643.5,142918889,1,13,5,0
27,2025,TOR,Toronto Raptors,25.368421,3.631579,210.615385,78.210526,50000,32500000,10130980.0,155718137,1,12,1,0
28,2025,UTA,Utah Jazz,24.722222,3.777778,220.500000,78.833333,50000,42176400,5469120.0,128678582,2,9,0,0
29,2025,WAS,Washington Wizards,24.941176,3.941176,219.500000,79.470588,100000,29651786,6692959.0,158877689,0,16,0,0

### Append ranking

In [1037]:
def clean_ranking(df):
    df = df.sort_values(by='W/L%', ascending=False)
    
    df.rename(columns={df.columns[0]: 'team_full_name'}, inplace=True)

    df = df[~df['team_full_name'].str.contains('Division|Conference', na=False)]

    df[df.columns[0]] = df[df.columns[0]].replace({r'\*': ''}, regex=True)
    
    df = df.reset_index(drop=True)

    df['ranking'] = df.index + 1

    df['ranking'] = df['ranking'].astype(int)

    df = df[['Season',df.columns[0], 'conference','ranking']]
    return df

In [996]:
# https://www.basketball-reference.com/leagues/NBA_2024_standings.html

def scrape_ranking(season):
    all_data = pd.DataFrame()

    url = f"https://www.basketball-reference.com/leagues/NBA_{season}_standings.html"

    response = requests.get(url)

    # print(response)
    # print(url)

    for conf in ['W','E']:
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            table = soup.find('table', {'id': f"confs_standings_{conf}"})

            if table:
                df = pd.read_html(io.StringIO(str(table)))[0]
                
                df['Season'] = season
                if conf == 'W':
                    df["conference"] = "WEST" 
                else:
                    df['conference'] = "EAST"
                    
                df = clean_ranking(df)

                all_data = pd.concat([all_data, df], ignore_index=True)

            else:
                print(f"No table found for {season}. Looking in Division Standings...")

                soup = BeautifulSoup(response.content, 'html.parser')
                table = soup.find('table', {'id': f"divs_standings_{conf}"})

                if table:
                    df = pd.read_html(io.StringIO(str(table)))[0]
                    
                    df['Season'] = season
                    if conf == 'W':
                        df["conference"] = "WEST" 
                    else:
                        df['conference'] = "EAST"
                    
                    df = clean_ranking(df)

                    all_data = pd.concat([all_data, df], ignore_index=True)
                else:
                    print(f"No table found for {season} in Division Standings.")

        else:
            print(f"Failed to retrieve data for {season}")

    return all_data

In [947]:
ranking = scrape_ranking(2024)

### Append Number of PO Apperences field

In [ ]:
# def clean_po(df):
#     df['Season'] = (df['Season'].str[0:2] + df['Season'].str[5:]).astype(int)

#     return df

In [ ]:
# # https://www.basketball-reference.com/teams/BOS/

# def scrape_po(season,team_names):
#     all_data = pd.DataFrame()
    
#     for team in team_names:

#         url = f"https://www.basketball-reference.com/teams/{team}"

#         response = requests.get(url)

#         # print(response)
#         # print(url)

#         if response.status_code == 200:
#             soup = BeautifulSoup(response.content, 'html.parser')
#             table = soup.find('table', {'id': team})

#             if table:
#                 df = pd.read_html(io.StringIO(str(table)))[0]
                
#                 df = clean_po(df,team)

#                 all_data = pd.concat([all_data, df], ignore_index=True)

#             else:
#                 print(f"No table found for {season}")

#         else:
#             print(f"Failed to retrieve data for {season}")

#         time.sleep(4)

#     return all_data

In [ ]:
# def nb_po(season):

#     team_names = get_team_names(season)
    
#     nba_champions = scrape_po(season,team_names)

#     rev_team_names = {v: k for k, v in team_names.items()}

#     nba_champions['team'] = nba_champions['Champion'].map(rev_team_names)
    
#     team_championships = []
    
#     for team in team_names:
#         nb_total = len(nba_champions[
#             (nba_champions['team'] == team) & 
#             (nba_champions['Year'] <= season)
#             ]
#         )
        
#         nb_interval = len(nba_champions[
#             (nba_champions['team'] == team) & 
#             (nba_champions['Year'] <= season) & 
#             (nba_champions['Year'] > season-4)
#             ]
#         )
        
#         team_championships.append({
#             'team': team,
#             'Season': season,
#             'nb_championships': nb_total,
#             'nb_champ_past_4y': nb_interval,
#             'winner': len(nba_champions[
#                 (nba_champions['team'] == team) & 
#                 (nba_champions['Year'] == season)
#                 ]
#             ),

#         })
    
#     df = pd.DataFrame(team_championships)
    
#     return df

### Loop for multiple seasons :o

In [1348]:
def scrape_all_rosters():
    all_rosters = pd.DataFrame()

    for season in range(start, end):  
        print(f"Scraping data for the {season-1}-{season} season...")

        roster = scrape_roster(season)

        if roster is not None:
            all_rosters = pd.concat([all_rosters, roster], ignore_index=True)
            
    return all_rosters

In [1349]:
all_rosters = scrape_all_rosters()

Scraping data for the 2012-2013 season...
Scraping data for the 2013-2014 season...

In [1354]:
all_avg_roster = team_avg_roster(all_rosters)

In [1356]:
all_avg_roster.to_csv(f"data/temp/{start}_{end-1}_avg_roster.csv")

In [ ]:
def scrape_all_preseason_odds():
    all_preseason_odds = pd.DataFrame()

    for season in range(start, end):  
        print(f"Scraping data for the {season-1}-{season} season...")

        preseason_odds = scrape_preseason_odds(season)

        if preseason_odds is not None:
            all_preseason_odds = pd.concat([all_preseason_odds, preseason_odds], ignore_index=True)

    return all_preseason_odds

In [1358]:
all_preseason_odds = scrape_all_preseason_odds()[["Team","Odds"]]

all_avg_n_odds = pd.merge(all_avg_roster, all_preseason_odds, left_on='team_full_name', right_on='Team', how='left')

all_avg_n_odds.drop(columns='Team', inplace=True)

Scraping data for the 2012-2013 season...
Scraping data for the 2013-2014 season...

In [1218]:
all_avg_n_odds.to_csv(f"data/temp/{start}_{end-1}_avg_n_odds.csv")

In [1200]:
def scrape_all_salaries():
    all_salaries = pd.DataFrame()

    driver = webdriver.Chrome() 

    for season in range(start, end):  
        print(f"Scraping data for the {season-1}-{season} season...")

        salaries = scrape_salaries(
            season,
            driver,
        )

        if salaries is not None:
            all_salaries = pd.concat([all_salaries, salaries], ignore_index=True)

    driver.quit()
    
    return all_salaries

In [1149]:
all_salaries = scrape_all_salaries()

Scraping data for the 2012-2013 season...
Scraping data for the 2013-2014 season...

In [1219]:
all_salaries.to_csv(f"data/temp/{start}_{end-1}_salaries_stats.csv")

In [1220]:
all_top_players = find_top_players(all_salaries)

team_salary_stats = all_salaries.groupby(['team', 'Season']).agg(
    highest_salary=('Salary', 'max'),
    median_salary=('Salary', 'median'),
    total_salary=('Salary', 'sum'),
    
).reset_index()

all_team_salary_stats = pd.merge(team_salary_stats, all_top_players, on=['team', 'Season'], how="left")

/var/folders/_8/rdftlf6j3n5dq8s2vsk7f2wh0000gn/T/ipykernel_66760/2735718874.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_players = salaries.groupby(['team', 'Season']).apply(count_top_players).reset_index()

In [1221]:
all_team_salary_stats.sample(5)

,team,Season,highest_salary,median_salary,total_salary,top_players,not_top_players
31,MIA,2014,19067500,3249525.0,82218984,3,11
43,ORL,2014,22346536,2500000.0,80664910,1,16
27,LAL,2014,30453805,1550000.0,77245789,2,11
30,MIA,2013,17545000,3112500.0,81558311,3,13
54,TOR,2013,16460538,2959625.0,66974563,1,15

In [1361]:
all_avg_odds_salary_players = pd.merge(all_avg_n_odds, all_team_salary_stats,on=['team', 'Season'], how='left')

In [1366]:
all_avg_odds_salary_players.sample(5)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players
42,2014,HOU,Houston Rockets,25.166667,3.222222,218.333333,78.777778,6600,20513178,1186459.0,63983641,2,15
114,2013,WAS,Washington Wizards,26.210526,4.473684,221.736842,78.947368,20000,13490000,1490820.0,66343388,1,19
48,2013,LAC,Los Angeles Clippers,29.000000,7.733333,220.600000,78.466667,2200,17779458,2987500.0,74354449,1,15
40,2013,HOU,Houston Rockets,24.150000,2.100000,220.400000,78.850000,6600,8374646,1453520.0,57323787,0,23
71,2014,MIN,Minnesota Timberwolves,25.823529,3.647059,219.529412,78.647059,10000,14693906,4251060.0,67485845,1,13

In [1240]:
def all_nba_championships(seasons_list):
    
    all_team_championships = pd.DataFrame()

    for season in seasons_list:
        team_names = get_team_names(season)

        team_championships = nb_championships(season)
        
        all_team_championships = pd.concat([all_team_championships, team_championships], ignore_index=True)

    return all_team_championships

In [1241]:
all_team_championships = all_nba_championships(seasons_list)

In [1368]:
all_avg_odds_salary_players_champ = all_avg_odds_salary_players.merge(all_team_championships, on=['team', 'Season'], how='left')

In [1369]:
all_avg_odds_salary_players[all_avg_odds_salary_players.team=='NOH']

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players
72,2013,NOH,New Orleans Hornets,24.631579,2.684211,222.421053,79.157895,15000,13700000,2323200.0,63901224,2,15

In [1370]:
all_avg_odds_salary_players_champ[all_avg_odds_salary_players_champ.team=='BOS']

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,nb_champ_past_4y,winner
4,2013,BOS,Boston Celtics,27.450000,6.000000,225.050000,79.400000,2000,16790345,1352181.0,73021989,1,18,17,0,0
5,2013,BOS,Boston Celtics,27.450000,6.000000,225.050000,79.400000,10000,16790345,1352181.0,73021989,1,18,17,0,0
6,2014,BOS,Boston Celtics,25.631579,4.052632,217.421053,77.894737,2000,12000000,5058198.0,63769609,0,11,17,0,0
7,2014,BOS,Boston Celtics,25.631579,4.052632,217.421053,77.894737,10000,12000000,5058198.0,63769609,0,11,17,0,0

In [1371]:
all_avg_odds_salary_players_champ.sample(5)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,nb_champ_past_4y,winner
32,2013,DET,Detroit Pistons,25.812500,3.875000,225.250000,79.437500,20000,11046591,3233840.0,63057497,0,14,3,0,0
10,2014,BRK,Brooklyn Nets,28.842105,7.052632,222.736842,79.157895,2800,21466718,3183000.0,102608995,1,14,0,0,0
101,2014,SAC,Sacramento Kings,25.826087,4.043478,228.043478,78.739130,15000,17888931,4588384.0,78765372,1,14,0,0,0
100,2014,SAC,Sacramento Kings,25.826087,4.043478,228.043478,78.739130,25000,17888931,4588384.0,78765372,1,14,0,0,0
27,2014,DAL,Dallas Mavericks,28.133333,6.333333,215.533333,78.066667,4000,22721381,2652000.0,68030257,1,14,1,1,0

In [1372]:
all_avg_odds_salary_players_champ.to_csv(f"data/temp/{start}_{end-1}_avg_odds_salary_players_champ.csv")

In [1373]:
def all_scrape_ranking(seasons_list):
    
    all_ranking = pd.DataFrame()

    for season in seasons_list:
        ranking = scrape_ranking(season)
        all_ranking = pd.concat([all_ranking, ranking], ignore_index=True)

    return all_ranking

In [1374]:
all_ranking = all_scrape_ranking(seasons_list)

No table found for 2013. Looking in Division Standings...
No table found for 2013. Looking in Division Standings...
No table found for 2014. Looking in Division Standings...
No table found for 2014. Looking in Division Standings...

In [1375]:
all_ranking.sample(2)

    Season      team_full_name conference  ranking
43    2014  Los Angeles Lakers       WEST       14
46    2014          Miami Heat       EAST        2

In [1376]:
all_avg_odds_salary_players_champ.sample(2)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,nb_champ_past_4y,winner
21,2013,CLE,Cleveland Cavaliers,24.789474,3.263158,225.631579,78.473684,6600,14850000,2225000.0,68428583,1,20,0,0,0
73,2014,NOP,New Orleans Pelicans,25.571429,3.190476,226.904762,79.904762,10000,14283844,2500000.0,62705103,1,14,0,0,0

In [1378]:
# all_avg_odds_salary_players_champ_rk = all_avg_odds_salary_players_champ.merge(all_ranking, on=['team_full_name', 'Season'], how='left')
all_avg_odds_salary_players_champ_rk = all_avg_odds_salary_players_champ.merge(all_ranking, on=['team_full_name', 'Season'], how='left')

In [1379]:
# final_df['ranking'] = final_df['ranking'].astype("Int64")
all_avg_odds_salary_players_champ_rk.ranking.unique()

array([ 6,  8,  7, 12,  4,  5, 14,  3, 13, 10, 11,  1,  2, 15,  9])

In [1380]:
all_avg_odds_salary_players_champ_rk.head(20)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,nb_champ_past_4y,winner,conference,ranking
0,2013,ATL,Atlanta Hawks,26.833333,5.333333,219.666667,78.277778,8000,13200000,2336763.5,66768365,0,18,0,0,0,EAST,6
1,2013,ATL,Atlanta Hawks,26.833333,5.333333,219.666667,78.277778,6600,13200000,2336763.5,66768365,0,18,0,0,0,EAST,6
2,2014,ATL,Atlanta Hawks,26.111111,3.777778,226.500000,78.555556,8000,12000000,1500000.0,55293144,1,14,0,0,0,EAST,8
3,2014,ATL,Atlanta Hawks,26.111111,3.777778,226.500000,78.555556,6600,12000000,1500000.0,55293144,1,14,0,0,0,EAST,8
4,2013,BOS,Boston Celtics,27.450000,6.000000,225.050000,79.400000,2000,16790345,1352181.0,73021989,1,18,17,0,0,EAST,7
5,2013,BOS,Boston Celtics,27.450000,6.000000,225.050000,79.400000,10000,16790345,1352181.0,73021989,1,18,17,0,0,EAST,7
6,2014,BOS,Boston Celtics,25.631579,4.052632,217.421053,77.894737,2000,12000000,5058198.0,63769609,0,11,17,0,0,EAST,12
7,2014,BOS,Boston Celtics,25.631579,4.052632,217.421053,77.894737,10000,12000000,5058198.0,63769609,0,11,17,0,0,EAST,12
8,2013,BRK,Brooklyn Nets,27.470588,5.764706,220.529412,79.000000,2800,19752645,1290703.0,84290205,2,14,0,0,0,EAST,4
9,2013,BRK,Brooklyn Nets,27.470588,5.764706,220.529412,79.000000,1200,19752645,1290703.0,84290205,2,14,0,0,0,EAST,4
10,2014,BRK,Brooklyn Nets,28.842105,7.052632,222.736842,79.157895,2800,21466718,3183000.0,102608995,1,14,0,0,0,EAST,5
11,2014,BRK,Brooklyn Nets,28.842105,7.052632,222.736842,79.157895,1200,21466718,3183000.0,102608995,1,14,0,0,0,EAST,5
12,2013,CHA,Charlotte Bobcats,26.166667,4.666667,224.166667,78.722222,50000,12400000,3007920.0,57491899,1,14,0,0,0,EAST,14
13,2013,CHA,Charlotte Bobcats,26.166667,4.666667,224.166667,78.722222,30000,12400000,3007920.0,57491899,1,14,0,0,0,EAST,14
14,2014,CHA,Charlotte Bobcats,26.052632,4.157895,223.210526,78.368421,50000,13500000,2850960.0,60819062,2,12,0,0,0,EAST,7
15,2014,CHA,Charlotte Bobcats,26.052632,4.157895,223.210526,78.368421,30000,13500000,2850960.0,60819062,2,12,0,0,0,EAST,7
16,2013,CHI,Chicago Bulls,27.933333,6.533333,216.600000,78.800000,1200,16402500,2056405.5,75627699,1,13,6,0,0,EAST,5
17,2013,CHI,Chicago Bulls,27.933333,6.533333,216.600000,78.800000,1000,16402500,2056405.5,75627699,1,13,6,0,0,EAST,5
18,2014,CHI,Chicago Bulls,27.700000,5.600000,216.650000,78.650000,1200,17632688,4059000.0,85095835,1,12,6,0,0,EAST,3
19,2014,CHI,Chicago Bulls,27.700000,5.600000,216.650000,78.650000,1000,17632688,4059000.0,85095835,1,12,6,0,0,EAST,3

In [1381]:
all_avg_odds_salary_players_champ_rk.to_csv(f"data/temp/{start}_{end-1}_avg_odds_salary_players_champ_rk.csv")

#### Concatenate datasets

In [1383]:
df_2015_2025 = pd.read_csv('data/2015_2025_avg_odds_salary_players_champ_rk.csv', index_col=False)
df_2013_2014 = pd.read_csv('data/temp/2013_2014_avg_odds_salary_players_champ_rk.csv',  index_col=False)

df_2015_2025 = df_2015_2025.iloc[:, 1:]
df_2013_2014 = df_2013_2014.iloc[:, 1:]

In [1384]:
df_2015_2025.Season.unique()

array([2023, 2024, 2025, 2020, 2021, 2022, 2015, 2016, 2017, 2018, 2019])

In [1385]:
df_2013_2014.Season.unique()

array([2013, 2014])

In [1386]:
final_df = pd.concat([df_2015_2025, df_2013_2014], ignore_index=True)

In [1388]:
final_df['ranking'] = final_df['ranking'].astype("Int64")

In [1389]:
final_df.ranking.unique()

<IntegerArray>
[8, 10, 2, 1, 6, 11, 9, 14, 13, 4, 5, 15, 7, 3, 12, <NA>]
Length: 16, dtype: Int64

In [1390]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448 entries, 0 to 447
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Season            448 non-null    int64
 1   team              448 non-null    object
 2   team_full_name    448 non-null    object
 3   conference        448 non-null    object
 4   avg_age           448 non-null    float64
 5   avg_exp           448 non-null    float64
 6   avg_weight        448 non-null    float64
 7   avg_height        448 non-null    float64
 8   Odds              448 non-null    int64
 9   highest_salary    448 non-null    int64
 10  median_salary     448 non-null    float64
 11  total_salary      448 non-null    int64
 12  top_players       448 non-null    int64
 13  not_top_players   448 non-null    int64
 14  nb_championships  448 non-null    int64
 15  nb_champ_past_4y  448 non-null    int64
 16  winner            448 non-null    int64
 17  ranking           418 non-null    Int64
dtypes: Int64(1), float64(5), int64(9), object(3)
memory usage: 63.6+ KB

In [1393]:
final_df.sort_values(['Season'],ascending=False)

,Season,team,team_full_name,conference,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,nb_champ_past_4y,winner,ranking
63,2025,CHI,Chicago Bulls,EAST,24.952381,3.619048,213.500000,78.476190,50000,43031940,7000000.0,166079908,1,14,6,0,0,<NA>
62,2025,BRK,Brooklyn Nets,EAST,24.947368,3.947368,214.111111,79.052632,100000,40338144,4041249.0,165717974,1,14,0,0,0,<NA>
61,2025,BOS,Boston Celtics,EAST,26.318182,4.727273,220.315789,79.318182,300,49700000,3256341.5,201620656,1,15,18,1,0,<NA>
60,2025,ATL,Atlanta Hawks,EAST,25.300000,3.700000,217.105263,78.950000,15000,43031940,6059520.0,169529070,1,14,0,0,0,<NA>
64,2025,CHO,Charlotte Hornets,EAST,25.500000,3.400000,210.722222,78.700000,100000,35147000,5250000.0,153709214,1,16,0,0,0,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,2013,PHO,Phoenix Suns,WEST,26.187500,3.875000,221.875000,79.250000,20000,7500000,2781520.0,60844774,0,18,0,0,0,15
424,2013,POR,Portland Trail Blazers,WEST,24.933333,3.266667,218.466667,79.066667,10000,16460538,2338721.0,73757590,1,16,1,0,0,11
425,2013,POR,Portland Trail Blazers,WEST,24.933333,3.266667,218.466667,79.066667,8000,16460538,2338721.0,73757590,1,16,1,0,0,11
429,2013,SAC,Sacramento Kings,WEST,25.352941,3.647059,216.823529,78.176471,15000,8083000,3125000.0,54317436,0,14,0,0,0,13
428,2013,SAC,Sacramento Kings,WEST,25.352941,3.647059,216.823529,78.176471,25000,8083000,3125000.0,54317436,0,14,0,0,0,13

In [1394]:
final_df.to_csv(f"data/2013_2025_avg_odds_salary_players_champ_rk.csv")

### Append Conference field to Final Df

In [957]:
# final_df['conference'] = final_df['team'].map(team_conferences)

# final_df.insert(3, 'conference', final_df.pop('conference'))

# final_df.to_csv(f"data/2020_2025_avg_odds_salary_players_champ_rk.csv")

### Append nb_champ_past_4y field to Final Df

In [1033]:
# team_championships = []
# nba_champions = scrape_champions()

# for i, row in final_df.iterrows():
#     team = row['team']  
#     season = row['Season']     

#     nb_interval = len(nba_champions[
#         (nba_champions['team'] == team) & 
#         (nba_champions['Year'] <= season) & 
#         (nba_champions['Year'] > season-4)
#         ]
#     )
    
#     nb_past_championships = len(nba_champions[(nba_champions['team'] == team) & 
#                                                 (nba_champions['Year'] <= season) & 
#                                                 (nba_champions['Year'] > season-4)])
    
#     team_championships.append(nb_past_championships)


# final_df['nb_champ_past_4y'] = team_championships

# column_to_move = final_df.pop("nb_champ_past_4y")

# final_df.insert(15, "nb_champ_past_4y", column_to_move)

In [1057]:
# final_df

In [1056]:
# final_df.to_csv(f"data/2015_2025_avg_odds_salary_players_champ_rk.csv")

### Other

In [ ]:
# url = f"https://www.basketball-reference.com/teams/NOH/2013.html"

# response = requests.get(url)

# # print(response)
# # print(url)

# if response.status_code == 200:
#     soup = BeautifulSoup(response.content, 'html.parser')
#     table = soup.find('table', {'id': 'roster'})

#     if table:
#         df = pd.read_html(io.StringIO(str(table)))[0]

#         df['Season'] = 2013
        
#         df = clean_roster(df,'NOH')

#         all_avg_roster = pd.concat([all_avg_roster, df], ignore_index=True)

#     else:
    
#         print(f"No table found for 2013")

# else:
#     print(f"Failed to retrieve data for 2013")

In [ ]:
# url = f"https://www.basketball-reference.com/teams/NOH/2013.html"

# driver = webdriver.Chrome() 

# driver.get(url)

# time.sleep(5)

# soup = BeautifulSoup(driver.page_source, 'html.parser')

# div = soup.find('div', {'id': 'div_salaries2'})

# if div:
#     table = div.find('table', {'id': 'salaries2'})
#     if table:
#         df = pd.read_html(io.StringIO(str(table)))[0]
#         df['Season'] = 2013
#         df['team']= 'NOH'
#         df = clean_salaries(df)

#         all_salaries = pd.concat([all_salaries, df], ignore_index=True)

#     else:
#         print(f"No table found inside the div for NOH in 2013")
# else:
#     print(f"No div with id 'div_salaries2' found for NOH in 2013")

# driver.quit()