In [6]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
import sys
import io

In [267]:
start = 2007
end = 2007

end += 1

seasons_list = [year for year in range(start, end)]
seasons_list

[2007]

In [90]:
def get_team_names(season):
    if season == 2013:
        team_names = {
        'ATL': 'Atlanta Hawks',
        'BOS': 'Boston Celtics',
        'BRK': 'Brooklyn Nets',
        'CHA': 'Charlotte Bobcats',
        'CHI': 'Chicago Bulls',
        'CLE': 'Cleveland Cavaliers',
        'DAL': 'Dallas Mavericks',
        'DEN': 'Denver Nuggets',
        'DET': 'Detroit Pistons',
        'GSW': 'Golden State Warriors',
        'HOU': 'Houston Rockets',
        'IND': 'Indiana Pacers',
        'LAC': 'Los Angeles Clippers',
        'LAL': 'Los Angeles Lakers',
        'MEM': 'Memphis Grizzlies',
        'MIA': 'Miami Heat',
        'MIL': 'Milwaukee Bucks',
        'MIN': 'Minnesota Timberwolves',
        'NOH': 'New Orleans Hornets',
        'NYK': 'New York Knicks',
        'OKC': 'Oklahoma City Thunder',
        'ORL': 'Orlando Magic',
        'PHI': 'Philadelphia 76ers',
        'PHO': 'Phoenix Suns',
        'POR': 'Portland Trail Blazers',
        'SAC': 'Sacramento Kings',
        'SAS': 'San Antonio Spurs',
        'TOR': 'Toronto Raptors',
        'UTA': 'Utah Jazz',
        'WAS': 'Washington Wizards'
    }
    elif season == 2014:
        team_names = {
            'ATL': 'Atlanta Hawks',
            'BOS': 'Boston Celtics',
            'BRK': 'Brooklyn Nets',
            'CHA': 'Charlotte Bobcats',
            'CHI': 'Chicago Bulls',
            'CLE': 'Cleveland Cavaliers',
            'DAL': 'Dallas Mavericks',
            'DEN': 'Denver Nuggets',
            'DET': 'Detroit Pistons',
            'GSW': 'Golden State Warriors',
            'HOU': 'Houston Rockets',
            'IND': 'Indiana Pacers',
            'LAC': 'Los Angeles Clippers',
            'LAL': 'Los Angeles Lakers',
            'MEM': 'Memphis Grizzlies',
            'MIA': 'Miami Heat',
            'MIL': 'Milwaukee Bucks',
            'MIN': 'Minnesota Timberwolves',
            'NOP': 'New Orleans Pelicans',
            'NYK': 'New York Knicks',
            'OKC': 'Oklahoma City Thunder',
            'ORL': 'Orlando Magic',
            'PHI': 'Philadelphia 76ers',
            'PHO': 'Phoenix Suns',
            'POR': 'Portland Trail Blazers',
            'SAC': 'Sacramento Kings',
            'SAS': 'San Antonio Spurs',
            'TOR': 'Toronto Raptors',
            'UTA': 'Utah Jazz',
            'WAS': 'Washington Wizards'
        }
    elif season < 2013:
        team_names = {
            'ATL': 'Atlanta Hawks',
            'BOS': 'Boston Celtics',
            'NJN': 'New Jersey Nets',
            'CHA': 'Charlotte Bobcats',
            'CHI': 'Chicago Bulls',
            'CLE': 'Cleveland Cavaliers',
            'DAL': 'Dallas Mavericks',
            'DEN': 'Denver Nuggets',
            'DET': 'Detroit Pistons',
            'GSW': 'Golden State Warriors',
            'HOU': 'Houston Rockets',
            'IND': 'Indiana Pacers',
            'LAC': 'Los Angeles Clippers',
            'LAL': 'Los Angeles Lakers',
            'MEM': 'Memphis Grizzlies',
            'MIA': 'Miami Heat',
            'MIL': 'Milwaukee Bucks',
            'MIN': 'Minnesota Timberwolves',
            'NOH': 'New Orleans Hornets',
            'NYK': 'New York Knicks',
            'OKC': 'Oklahoma City Thunder',
            'ORL': 'Orlando Magic',
            'PHI': 'Philadelphia 76ers',
            'PHO': 'Phoenix Suns',
            'POR': 'Portland Trail Blazers',
            'SAC': 'Sacramento Kings',
            'SAS': 'San Antonio Spurs',
            'TOR': 'Toronto Raptors',
            'UTA': 'Utah Jazz',
            'WAS': 'Washington Wizards'
        }
    else:
        team_names = {
        'ATL': 'Atlanta Hawks',
        'BOS': 'Boston Celtics',
        'BRK': 'Brooklyn Nets',
        'CHO': 'Charlotte Hornets',
        'CHI': 'Chicago Bulls',
        'CLE': 'Cleveland Cavaliers',
        'DAL': 'Dallas Mavericks',
        'DEN': 'Denver Nuggets',
        'DET': 'Detroit Pistons',
        'GSW': 'Golden State Warriors',
        'HOU': 'Houston Rockets',
        'IND': 'Indiana Pacers',
        'LAC': 'Los Angeles Clippers',
        'LAL': 'Los Angeles Lakers',
        'MEM': 'Memphis Grizzlies',
        'MIA': 'Miami Heat',
        'MIL': 'Milwaukee Bucks',
        'MIN': 'Minnesota Timberwolves',
        'NOP': 'New Orleans Pelicans',
        'NYK': 'New York Knicks',
        'OKC': 'Oklahoma City Thunder',
        'ORL': 'Orlando Magic',
        'PHI': 'Philadelphia 76ers',
        'PHO': 'Phoenix Suns',
        'POR': 'Portland Trail Blazers',
        'SAC': 'Sacramento Kings',
        'SAS': 'San Antonio Spurs',
        'TOR': 'Toronto Raptors',
        'UTA': 'Utah Jazz',
        'WAS': 'Washington Wizards'
    }
    return team_names

team_names = get_team_names(start)

In [1138]:
team_conferences = {
    'ATL': 'EAST',
    'BOS': 'EAST',
    'BRK': 'EAST',
    'NJN': 'EAST',
    'CHA': 'EAST',
    'CHO': 'EAST',
    'CHI': 'EAST',
    'CLE': 'EAST',
    'DAL': 'WEST',
    'DEN': 'WEST',
    'DET': 'EAST',
    'GSW': 'WEST',
    'HOU': 'WEST',
    'IND': 'EAST',
    'LAC': 'WEST',
    'LAL': 'WEST',
    'MEM': 'WEST',
    'MIA': 'EAST',
    'MIL': 'EAST',
    'MIN': 'WEST',
    'NOP': 'WEST',
    'NOH': 'WEST',
    'NYK': 'EAST',
    'OKC': 'WEST',
    'ORL': 'EAST',
    'PHI': 'EAST',
    'PHO': 'WEST',
    'POR': 'WEST',
    'SAC': 'WEST',
    'SAS': 'WEST',
    'TOR': 'EAST',
    'UTA': 'WEST',
    'WAS': 'EAST'
}

In [489]:
# team_names = {
#     # 'DET': 'Detroit Pistons',
#     # 'BOS': 'Boston Celtics',
#     # 'PHO': 'Phoenix Suns',
#     'MEM': 'Memphis Grizzlies',

# }

### Collect Roster Average Stats Per Season

In [139]:
# Convert height to inches (Ht format 'ft-in' to inches)
def height_to_inches(height):
    if pd.isna(height):
        return None
    feet, inches = map(int, height.split('-'))
    return feet * 12 + inches

In [1343]:
def clean_roster(roster, team,team_names):

    roster['ht'] = roster['Ht'].apply(height_to_inches)
    
    roster['birth_year'] = pd.to_datetime(roster['Birth Date']).dt.year

    roster['age'] = roster['Season']- roster['birth_year'] -1

    roster['exp'] = roster['Exp'].replace('R', 0)

    roster['exp'] = roster['exp'].round().astype(int)

    roster['team'] = team

    roster['team_full_name'] = roster['team'].map(team_names)
    
    roster.drop(columns=['College','No.','Player','Pos','Birth Date','Birth','birth_year'], inplace=True)

    return roster

In [1344]:
# https://www.basketball-reference.com/teams/DAL/2025.html

def scrape_roster(season):
    all_data = pd.DataFrame()
    team_names = get_team_names(season)

    for team in team_names:

        url = f"https://www.basketball-reference.com/teams/{team}/{season}.html"

        response = requests.get(url)

        # print(response)
        # print(url)

        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            table = soup.find('table', {'id': 'roster'})

            if table:
                df = pd.read_html(io.StringIO(str(table)))[0]

                df['Season'] = season
                
                df = clean_roster(df,team,team_names)

                all_data = pd.concat([all_data, df], ignore_index=True)

            else:
                print(f"No table found for {season}")

        else:
            print(f"Failed to retrieve data for {season}")

        time.sleep(4)

    return all_data

In [ ]:
# scrape_roster(2014)

In [1353]:
def team_avg_roster(roster):
    avg_roster = roster.groupby(['team', 'team_full_name','Season']).agg(
        avg_age=('age', 'mean'),
        avg_exp=('exp', 'mean'),
        avg_weight=('Wt', 'mean'),
        avg_height=('ht', 'mean')
    ).reset_index()

    avg_roster = avg_roster[['Season','team', 'team_full_name', 'avg_age', 'avg_exp', 'avg_weight', 'avg_height']]
    
    return avg_roster

### Append pre-season odds

In [876]:
# https://www.basketball-reference.com/leagues/NBA_2025_preseason_odds.html

def scrape_preseason_odds(season):
    all_data = pd.DataFrame()

    url = f"https://www.basketball-reference.com/leagues/NBA_{season}_preseason_odds.html"

    response = requests.get(url)

    # print(response)
    # print(url)

    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        table = soup.find('table', {'id': 'NBA_preseason_odds'})

        if table:
            df = pd.read_html(io.StringIO(str(table)))[0]

            all_data = pd.concat([all_data, df], ignore_index=True)

        else:
        
            print(f"No table found for {season}")

    else:
        print(f"Failed to retrieve data for {season}")

    return all_data

In [ ]:
preseason_odds = scrape_preseason_odds(2025)

In [205]:
avg_n_odds = pd.merge(avg_roster, preseason_odds, left_on='team_full_name', right_on='Team', how='left')

avg_n_odds.drop(columns='Team', inplace=True)

In [206]:
avg_n_odds.sample(5)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds
26,2025,SAS,San Antonio Spurs,24.300000,3.800000,207.000000,78.550000,10000
8,2025,DET,Detroit Pistons,24.444444,3.055556,209.400000,78.555556,100000
24,2025,POR,Portland Trail Blazers,24.400000,3.050000,208.736842,79.300000,100000
12,2025,LAC,Los Angeles Clippers,27.000000,5.666667,216.470588,77.952381,3000
13,2025,LAL,Los Angeles Lakers,25.700000,4.400000,216.941176,79.400000,3000

### Append salary stats

In [969]:
def clean_salaries(salaries):
    
    salaries = salaries.head(25).copy()

    salaries.rename(columns={"Unnamed: 1":"player_name"}, inplace=True)
    
    salaries.loc[:, 'Salary'] = salaries['Salary'].fillna(0)

    salaries.loc[:, 'Salary'] = salaries['Salary'].replace({r'\$': '', ',': ''}, regex=True).astype(int)

    salaries = salaries.sort_values(by='Salary', ascending=False)

    salaries = salaries.drop(columns=['Rk'])

    return salaries

In [1122]:
# https://www.basketball-reference.com/teams/CHO/2025.html

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

def scrape_salaries(
        season,
        driver,
    ):

    all_data = pd.DataFrame()
    team_names = get_team_names(season)
    
    for team in team_names:

        url = f"https://www.basketball-reference.com/teams/{team}/{season}.html"

        driver.get(url)

        time.sleep(5)

        soup = BeautifulSoup(driver.page_source, 'html.parser')

        div = soup.find('div', {'id': 'div_salaries2'})
        
        if div:
            table = div.find('table', {'id': 'salaries2'})
            if table:
                df = pd.read_html(io.StringIO(str(table)))[0]
                df['Season'] = season
                df['team']= team
                df = clean_salaries(df)
                all_data = pd.concat([all_data, df], ignore_index=True)
            else:
                print(f"No table found inside the div for {team} in {season}")
        else:
            print(f"No div with id 'div_salaries2' found for {team} in {season}")
            
    return all_data

In [ ]:
driver = webdriver.Chrome() 

salaries = scrape_salaries(
    2024, 
    driver,
)

driver.quit()

#### Finding the number of top players per team per season

In [497]:
def count_top_players(salaries,threshold=20):
    # based on the teams salaries we are trying to identify the numbers of stars/top players on the team (a good example is the Phoenix Suns in 2025)

    above = salaries[salaries['salary_percentage'] > threshold].shape[0]
    below = salaries[salaries['salary_percentage'] <= threshold].shape[0]
    
    return pd.Series({'top_players': above, 'not_top_players': below})

In [498]:
def find_top_players(salaries):
    total_salary = salaries.groupby(['team', 'Season'])['Salary'].sum().reset_index(name='total_salary')

    salaries = salaries.merge(total_salary, on=['team', 'Season'], how='left')

    salaries['salary_percentage'] = (salaries['Salary'] / salaries['total_salary']) * 100

    top_players = salaries.groupby(['team', 'Season']).apply(count_top_players).reset_index()
    
    return top_players

In [435]:
salaries[salaries['team']=='LAL'].sort_values('salary_percentage', ascending=False).head(20)

,player_name,Salary,Season,team,total_salary,salary_percentage
194,LeBron James,48728845,2025,LAL,187028846,26.054187
195,Anthony Davis,43219440,2025,LAL,187028846,23.108435
196,D'Angelo Russell,18692307,2025,LAL,187028846,9.994344
197,Rui Hachimura,17000000,2025,LAL,187028846,9.089507
198,Austin Reaves,12976362,2025,LAL,187028846,6.938161
199,Gabe Vincent,11000000,2025,LAL,187028846,5.881446
200,Jarred Vanderbilt,10714286,2025,LAL,187028846,5.728681
201,Max Christie,7142857,2025,LAL,187028846,3.819121
202,Jalen Hood-Schifino,3879840,2025,LAL,187028846,2.074461
203,Dalton Knecht,3819120,2025,LAL,187028846,2.041995
204,Christian Wood,3036040,2025,LAL,187028846,1.623300
205,Cam Reddish,2463946,2025,LAL,187028846,1.317415
206,Jaxson Hayes,2463946,2025,LAL,187028846,1.317415
207,Maxwell Lewis,1891857,2025,LAL,187028846,1.011532

In [430]:
team_salary_stats = salaries.groupby(['team', 'Season']).agg(
    highest_salary=('Salary', 'max'),
    median_salary=('Salary', 'median'),
    total_salary=('Salary', 'sum'),
    
).reset_index()

top_players = find_top_players(salaries)

team_salary_stats = pd.merge(team_salary_stats, top_players, on=['team', 'Season'], how="left")

In [431]:
team_salary_stats.sample(3)

,team,Season,highest_salary,median_salary,total_salary,top_players,not_top_players
10,HOU,2025,42846615,9249960.0,165026987,1,14
29,WAS,2025,29651786,6692959.0,158877689,0,16
18,NOP,2025,36725670,5159854.0,163702985,3,8

In [433]:
avg_odds_salary_players = pd.merge(avg_n_odds, team_salary_stats,on=['team', 'Season'], how='left')

In [437]:
avg_odds_salary_players.sample(10)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players
2,2025,BRK,Brooklyn Nets,24.947368,3.947368,214.111111,79.052632,100000,40338144,4041249.0,165717974,1,14
5,2025,CLE,Cleveland Cavaliers,25.750000,4.200000,208.263158,77.950000,5000,36725670,8500000.0,161102772,2,11
15,2025,MIA,Miami Heat,26.700000,5.050000,218.750000,78.000000,4000,48798677,4655040.0,184058374,1,12
18,2025,NOP,New Orleans Pelicans,25.750000,3.150000,210.941176,78.400000,5000,36725670,5159854.0,163702985,3,8
29,2025,WAS,Washington Wizards,24.941176,3.941176,219.500000,79.470588,100000,29651786,6692959.0,158877689,0,16
17,2025,MIN,Minnesota Timberwolves,26.210526,4.578947,220.533333,79.263158,850,49205800,5287710.0,205560682,3,11
1,2025,BOS,Boston Celtics,26.318182,4.727273,220.315789,79.318182,300,49700000,3256341.5,201620656,1,15
25,2025,SAC,Sacramento Kings,26.000000,4.611111,212.071429,78.388889,6600,40500000,8000000.0,167640684,2,11
14,2025,MEM,Memphis Grizzlies,25.050000,3.150000,213.266667,78.900000,4000,36725670,4858705.5,177014145,1,15
20,2025,OKC,Oklahoma City Thunder,24.000000,2.812500,204.833333,78.500000,900,35859950,6669000.0,159241956,1,14

In [436]:
avg_odds_salary_players.to_csv('data/2025_team_data.csv')

### Append Franchise History/Championship stats

In [606]:
def clean_champions(df):

    nba_champions = df[[('Unnamed: 0_level_0', 'Year'), ('Finals', 'Champion')]]
    nba_champions.columns = ['Year', 'Champion']

    nba_champions = nba_champions[nba_champions.Year.notna()]

    nba_champions.Year = nba_champions.Year.astype(int)

    return nba_champions

In [607]:
# https://www.basketball-reference.com/playoffs/

def scrape_champions():
    df = pd.DataFrame()

    url = f"https://www.basketball-reference.com/playoffs/"

    response = requests.get(url)

    # print(response)
    # print(url)

    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        table = soup.find('table', {'id': 'champions_index'})

        if table:
            df = pd.read_html(io.StringIO(str(table)))[0]
            df = clean_champions(df)
        else:
        
            print(f"No table found ")

    else:
        print(f"Failed to retrieve data ")

    return df

In [1103]:
# Count number of championships for a given team and season

def nb_championships(season):

    team_names = get_team_names(season)
    
    nba_champions = scrape_champions()

    rev_team_names = {v: k for k, v in team_names.items()}

    nba_champions['team'] = nba_champions['Champion'].map(rev_team_names)
    
    team_championships = []
    
    for team in team_names:
        nb_total = len(nba_champions[
            (nba_champions['team'] == team) & 
            (nba_champions['Year'] <= season)
            ]
        )
        
        nb_interval = len(nba_champions[
            (nba_champions['team'] == team) & 
            (nba_champions['Year'] <= season) & 
            (nba_champions['Year'] > season-4)
            ]
        )
        
        team_championships.append({
            'team': team,
            'Season': season,
            'nb_championships': nb_total,
            'nb_champ_past_4y': nb_interval,
            'winner': len(nba_champions[
                (nba_champions['team'] == team) & 
                (nba_champions['Year'] == season)
                ]
            ),

        })
    
    df = pd.DataFrame(team_championships)
    
    return df

In [1027]:
nb_championships(2020).sample(5)

   team  Season  nb_championships  nb_champ_past_4y  winner
27  TOR    2020                 1                 1       0
9   GSW    2020                 4                 2       0
24  POR    2020                 1                 0       0
0   ATL    2020                 0                 0       0
7   DEN    2020                 0                 0       0

In [716]:
team_championships = nb_championships(team_names,2025)

In [717]:
avg_odds_salary_players_champ = avg_odds_salary_players.merge(team_championships, on=['team', 'Season'], how='left')

In [718]:
avg_odds_salary_players_champ.tail(5)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,winner
25,2025,SAC,Sacramento Kings,26.000000,4.611111,212.071429,78.388889,6600,40500000,8000000.0,167640684,2,11,0,0
26,2025,SAS,San Antonio Spurs,24.300000,3.800000,207.000000,78.550000,10000,29347826,9104643.5,142918889,1,13,5,0
27,2025,TOR,Toronto Raptors,25.368421,3.631579,210.615385,78.210526,50000,32500000,10130980.0,155718137,1,12,1,0
28,2025,UTA,Utah Jazz,24.722222,3.777778,220.500000,78.833333,50000,42176400,5469120.0,128678582,2,9,0,0
29,2025,WAS,Washington Wizards,24.941176,3.941176,219.500000,79.470588,100000,29651786,6692959.0,158877689,0,16,0,0

### Append ranking

In [1]:
def clean_ranking(df):
    df = df.sort_values(by='W/L%', ascending=False)
    
    df.rename(columns={df.columns[0]: 'team_full_name'}, inplace=True)

    df = df[~df['team_full_name'].str.contains('Division|Conference', na=False)]

    df[df.columns[0]] = df[df.columns[0]].replace({r'\*': ''}, regex=True)
    
    df = df.reset_index(drop=True)

    df['ranking'] = df.index + 1

    df['ranking'] = df['ranking'].astype(int)

    df = df[['Season',df.columns[0], 'conference','ranking']]
    return df

In [7]:
# https://www.basketball-reference.com/leagues/NBA_2024_standings.html

def scrape_ranking(season):
    all_data = pd.DataFrame()

    url = f"https://www.basketball-reference.com/leagues/NBA_{season}_standings.html"

    response = requests.get(url)

    # print(response)
    # print(url)

    for conf in ['W','E']:
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            table = soup.find('table', {'id': f"confs_standings_{conf}"})

            if table:
                df = pd.read_html(io.StringIO(str(table)))[0]
                
                df['Season'] = season
                if conf == 'W':
                    df["conference"] = "WEST" 
                else:
                    df['conference'] = "EAST"
                    
                df = clean_ranking(df)

                all_data = pd.concat([all_data, df], ignore_index=True)

            else:
                print(f"No table found for {season}. Looking in Division Standings...")

                soup = BeautifulSoup(response.content, 'html.parser')
                table = soup.find('table', {'id': f"divs_standings_{conf}"})

                if table:
                    df = pd.read_html(io.StringIO(str(table)))[0]
                    
                    df['Season'] = season
                    if conf == 'W':
                        df["conference"] = "WEST" 
                    else:
                        df['conference'] = "EAST"
                    
                    df = clean_ranking(df)

                    all_data = pd.concat([all_data, df], ignore_index=True)
                else:
                    print(f"No table found for {season} in Division Standings.")

        else:
            print(f"Failed to retrieve data for {season}")

    return all_data

In [8]:
ranking = scrape_ranking(2007)
ranking

No table found for 2007. Looking in Division Standings...
No table found for 2007. Looking in Division Standings...

    Season                     team_full_name conference  ranking
0     2007                   Dallas Mavericks       WEST        1
1     2007                       Phoenix Suns       WEST        2
2     2007                  San Antonio Spurs       WEST        3
3     2007                    Houston Rockets       WEST        4
4     2007                          Utah Jazz       WEST        5
5     2007                     Denver Nuggets       WEST        6
6     2007              Golden State Warriors       WEST        7
7     2007                 Los Angeles Lakers       WEST        8
8     2007               Los Angeles Clippers       WEST        9
9     2007  New Orleans/Oklahoma City Hornets       WEST       10
10    2007                   Sacramento Kings       WEST       11
11    2007             Minnesota Timberwolves       WEST       12
12    2007             Portland Trail Blazers       WEST       13
13    2007                Seattle SuperSonics       WEST       14
14    2007                  Memphis Grizzlies       WEST       15
15    2007                    Detroit Pistons       EAST        1
16    2007                Cleveland Cavaliers       EAST        2
17    2007                      Chicago Bulls       EAST        3
18    2007                    Toronto Raptors       EAST        4
19    2007                         Miami Heat       EAST        5
20    2007                    New Jersey Nets       EAST        6
21    2007                 Washington Wizards       EAST        7
22    2007                      Orlando Magic       EAST        8
23    2007                 Philadelphia 76ers       EAST        9
24    2007                     Indiana Pacers       EAST       10
25    2007                    New York Knicks       EAST       11
26    2007                  Charlotte Bobcats       EAST       12
27    2007                      Atlanta Hawks       EAST       13
28    2007                    Milwaukee Bucks       EAST       14
29    2007                     Boston Celtics       EAST       15

### Append Number of PO Apperence

In [61]:
def clean_po(df):
    df['Season'] = (df['Season'].str[0:2] + df['Season'].str[5:]).astype(int)

    df.drop(df.columns[8], axis=1, inplace=True)

    df.drop(df.columns[14], axis=1, inplace=True)

    df.loc[:, 'Team'] = df['Team'].replace({r'\*': '', ',': ''}, regex=True)
    
    df.dropna(subset=['Playoffs'], inplace=True)
    
    return df

In [95]:
# https://www.basketball-reference.com/teams/BOS/

def scrape_po(team_names):
    all_data = pd.DataFrame()
    print('Scraping Playoffs apperences data for every team...')
    
    for team in team_names:
        if team == 'BRK':
            team = 'NJN'
        elif team == 'CHO':
            team = 'CHA'
        elif team == 'NOP':
            team = 'NOH'
            
        url = f"https://www.basketball-reference.com/teams/{team}"

        response = requests.get(url)

        # print(response)
        # print(url)

        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            table = soup.find('table', {'id': team})

            if table:
                df = pd.read_html(io.StringIO(str(table)))[0]
                
                df = clean_po(df)

                all_data = pd.concat([all_data, df], ignore_index=True)

            else:
                print(f"No table found for {team}")

        else:
            print(f"Failed to retrieve data for {team} ")

        time.sleep(4)

    return all_data

In [141]:
po = scrape_po(team_names)

In [171]:
def map_team_name(row):
    team_name_mapping = get_team_names(2000)  # get team names from older season
    return team_name_mapping.get(row['team_full_name'], row['team_full_name'])  # Map the team name

In [236]:
def nb_po(po):
    
    po.rename(columns={"Team": 'team_full_name'}, inplace=True)

    po['team_full_name'] = po.apply(map_team_name, axis=1)    

    po = po[['team_full_name', 'Season']]

    po_apperences = po.sort_values(by=['team_full_name', 'Season'])  

    po_apperences['nb_po_apperence'] = po_apperences.groupby('team_full_name').cumcount() + 1

    return po_apperences

In [239]:
po_apperences = nb_po(po)

In [240]:
po_apperences[po_apperences.team_full_name=='Brooklyn Nets']

    team_full_name  Season  nb_po_apperence
117  Brooklyn Nets    2013                1
116  Brooklyn Nets    2014                2
115  Brooklyn Nets    2015                3
114  Brooklyn Nets    2019                4
113  Brooklyn Nets    2020                5
112  Brooklyn Nets    2021                6
111  Brooklyn Nets    2022                7
110  Brooklyn Nets    2023                8

### Loop for multiple seasons :o

In [1398]:
def scrape_all_rosters():
    all_rosters = pd.DataFrame()

    for season in range(start, end):  
        print(f"Scraping data for the {season-1}-{season} season...")

        roster = scrape_roster(season)

        if roster is not None:
            all_rosters = pd.concat([all_rosters, roster], ignore_index=True)
            
    return all_rosters

In [1399]:
all_rosters = scrape_all_rosters()

Scraping data for the 2009-2010 season...
Scraping data for the 2010-2011 season...
Scraping data for the 2011-2012 season...

In [1400]:
all_avg_roster = team_avg_roster(all_rosters)

In [1401]:
all_avg_roster.to_csv(f"data/temp/{start}_{end-1}_avg_roster.csv")

In [1402]:
def scrape_all_preseason_odds():
    all_preseason_odds = pd.DataFrame()

    for season in range(start, end):  
        print(f"Scraping data for the {season-1}-{season} season...")

        preseason_odds = scrape_preseason_odds(season)

        if preseason_odds is not None:
            all_preseason_odds = pd.concat([all_preseason_odds, preseason_odds], ignore_index=True)

    return all_preseason_odds

In [1403]:
all_preseason_odds = scrape_all_preseason_odds()[["Team","Odds"]]

all_avg_n_odds = pd.merge(all_avg_roster, all_preseason_odds, left_on='team_full_name', right_on='Team', how='left')

all_avg_n_odds.drop(columns='Team', inplace=True)

Scraping data for the 2009-2010 season...
Scraping data for the 2010-2011 season...
Scraping data for the 2011-2012 season...

In [1404]:
all_avg_n_odds.to_csv(f"data/temp/{start}_{end-1}_avg_n_odds.csv")

In [1405]:
def scrape_all_salaries():
    all_salaries = pd.DataFrame()

    driver = webdriver.Chrome() 

    for season in range(start, end):  
        print(f"Scraping data for the {season-1}-{season} season...")

        salaries = scrape_salaries(
            season,
            driver,
        )

        if salaries is not None:
            all_salaries = pd.concat([all_salaries, salaries], ignore_index=True)

    driver.quit()
    
    return all_salaries

In [1406]:
all_salaries = scrape_all_salaries()

Scraping data for the 2009-2010 season...
Scraping data for the 2010-2011 season...
Scraping data for the 2011-2012 season...

In [1407]:
all_salaries.to_csv(f"data/temp/{start}_{end-1}_salaries_stats.csv")

In [1408]:
all_top_players = find_top_players(all_salaries)

team_salary_stats = all_salaries.groupby(['team', 'Season']).agg(
    highest_salary=('Salary', 'max'),
    median_salary=('Salary', 'median'),
    total_salary=('Salary', 'sum'),
    
).reset_index()

all_team_salary_stats = pd.merge(team_salary_stats, all_top_players, on=['team', 'Season'], how="left")

/var/folders/_8/rdftlf6j3n5dq8s2vsk7f2wh0000gn/T/ipykernel_66760/2735718874.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_players = salaries.groupby(['team', 'Season']).apply(count_top_players).reset_index()

In [1409]:
all_team_salary_stats.sample(5)

,team,Season,highest_salary,median_salary,total_salary,top_players,not_top_players
52,NJN,2011,14940152,3250000.0,58495989,1,14
10,CHI,2011,14400000,3100000.0,54538076,2,11
30,IND,2010,11047619,2217080.0,66733257,0,16
53,NJN,2012,16359805,1871540.0,65281235,1,19
44,MIA,2012,16022500,3000000.0,74117458,3,12

In [1410]:
all_avg_odds_salary_players = pd.merge(all_avg_n_odds, all_team_salary_stats,on=['team', 'Season'], how='left')

In [1411]:
all_avg_odds_salary_players.sample(5)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players
202,2011,PHI,Philadelphia 76ers,26.466667,5.066667,225.066667,79.400000,10000,15959099,3788520.0,68915246,1,13
246,2011,TOR,Toronto Raptors,25.590909,3.545455,224.090909,79.090909,6600,14896000,2292600.0,69992648,1,18
92,2010,IND,Indiana Pacers,26.400000,4.200000,217.933333,78.800000,6600,11047619,2217080.0,66733257,0,16
231,2012,SAC,Sacramento Kings,24.400000,3.066667,221.400000,79.000000,25000,8500000,3000642.0,48950236,0,14
136,2010,MIL,Milwaukee Bucks,27.736842,5.052632,219.473684,79.157895,4000,17040000,2834260.0,66775602,1,15

In [1412]:
def all_nba_championships(seasons_list):
    
    all_team_championships = pd.DataFrame()

    for season in seasons_list:
        team_names = get_team_names(season)

        team_championships = nb_championships(season)
        
        all_team_championships = pd.concat([all_team_championships, team_championships], ignore_index=True)

    return all_team_championships

In [1413]:
all_team_championships = all_nba_championships(seasons_list)

In [1414]:
all_avg_odds_salary_players_champ = all_avg_odds_salary_players.merge(all_team_championships, on=['team', 'Season'], how='left')

In [1416]:
# all_avg_odds_salary_players[all_avg_odds_salary_players.team=='NOH']

In [1417]:
# all_avg_odds_salary_players_champ[all_avg_odds_salary_players_champ.team=='BOS']

In [1415]:
all_avg_odds_salary_players_champ.sample(5)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,nb_champ_past_4y,winner
247,2011,TOR,Toronto Raptors,25.590909,3.545455,224.090909,79.090909,20000,14896000,2292600.0,69992648,1,18,0,0,0
214,2012,PHO,Phoenix Suns,28.538462,6.769231,222.076923,79.000000,5000,11689062,4000000.0,66340576,0,16,0,0,0
140,2011,MIL,Milwaukee Bucks,27.235294,5.470588,220.235294,78.588235,12500,18300000,2000000.0,69076690,1,16,1,0,0
261,2010,WAS,Washington Wizards,27.125000,4.625000,218.041667,78.750000,8000,16192080,2000100.0,73440274,1,15,0,0,0
100,2010,LAC,Los Angeles Clippers,27.000000,5.368421,217.421053,78.631579,10000,12150000,2659940.0,61616409,0,18,0,0,0

In [1418]:
all_avg_odds_salary_players_champ.to_csv(f"data/temp/{start}_{end-1}_avg_odds_salary_players_champ.csv")

In [1419]:
def all_scrape_ranking(seasons_list):
    
    all_ranking = pd.DataFrame()

    for season in seasons_list:
        ranking = scrape_ranking(season)
        all_ranking = pd.concat([all_ranking, ranking], ignore_index=True)

    return all_ranking

In [1420]:
all_ranking = all_scrape_ranking(seasons_list)

No table found for 2010. Looking in Division Standings...
No table found for 2010. Looking in Division Standings...
No table found for 2011. Looking in Division Standings...
No table found for 2011. Looking in Division Standings...
No table found for 2012. Looking in Division Standings...
No table found for 2012. Looking in Division Standings...

In [1427]:
all_ranking.sample(2)

    Season        team_full_name conference  ranking
42    2011  Los Angeles Clippers       WEST       13
10    2010   New Orleans Hornets       WEST       11

In [1428]:
all_avg_odds_salary_players_champ.sample(2)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,nb_champ_past_4y,winner
68,2011,DET,Detroit Pistons,27.076923,6.000000,220.769231,79.538462,20000,12500000,2798040.0,65517821,0,15,3,0,0
69,2012,DET,Detroit Pistons,26.928571,4.428571,218.500000,78.714286,3300,12500000,3250000.0,70923605,0,15,3,0,0

In [1429]:
# all_avg_odds_salary_players_champ_rk = all_avg_odds_salary_players_champ.merge(all_ranking, on=['team_full_name', 'Season'], how='left')
all_avg_odds_salary_players_champ_rk = all_avg_odds_salary_players_champ.merge(all_ranking, on=['team_full_name', 'Season'], how='left')

In [ ]:
po = scrape_po(team_names)

po_apperences = nb_po(po)
all_avg_odds_salary_players_champ_rk_po = all_avg_odds_salary_players_champ_rk.merge(po_apperences, on=['team_full_name','Season'],how='left')
all_avg_odds_salary_players_champ_rk_po = all_avg_odds_salary_players_champ_rk_po.sort_values(by=['team_full_name', 'Season'], ascending=[True, False])
all_avg_odds_salary_players_champ_rk_po['nb_po_apperence'] = all_avg_odds_salary_players_champ_rk_po['nb_po_apperence'].bfill()
all_avg_odds_salary_players_champ_rk_po['nb_po_apperence'] = all_avg_odds_salary_players_champ_rk_po['nb_po_apperence'].astype("Int64")


all_avg_odds_salary_players_champ_rk_po.insert(16, 'nb_po_apperence', all_avg_odds_salary_players_champ_rk_po.pop('nb_po_apperence'))

In [ ]:
# final_df['ranking'] = final_df['ranking'].astype("Int64")
all_avg_odds_salary_players_champ_rk.ranking.unique()

In [1431]:
all_avg_odds_salary_players_champ_rk.head(20)

,Season,team,team_full_name,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,nb_champ_past_4y,winner,conference,ranking
0,2010,ATL,Atlanta Hawks,26.500000,5.642857,227.357143,79.357143,5000,14976754,3403820.0,65883642,1,13,0,0,0,EAST,3
1,2010,ATL,Atlanta Hawks,26.500000,5.642857,227.357143,79.357143,4000,14976754,3403820.0,65883642,1,13,0,0,0,EAST,3
2,2010,ATL,Atlanta Hawks,26.500000,5.642857,227.357143,79.357143,5000,14976754,3403820.0,65883642,1,13,0,0,0,EAST,3
3,2011,ATL,Atlanta Hawks,27.294118,5.823529,224.000000,79.058824,5000,16324500,2864045.0,71469843,1,13,0,0,0,EAST,5
4,2011,ATL,Atlanta Hawks,27.294118,5.823529,224.000000,79.058824,4000,16324500,2864045.0,71469843,1,13,0,0,0,EAST,5
5,2011,ATL,Atlanta Hawks,27.294118,5.823529,224.000000,79.058824,5000,16324500,2864045.0,71469843,1,13,0,0,0,EAST,5
6,2012,ATL,Atlanta Hawks,29.187500,7.812500,223.875000,79.125000,5000,18038573,1352181.0,73669912,1,15,0,0,0,EAST,4
7,2012,ATL,Atlanta Hawks,29.187500,7.812500,223.875000,79.125000,4000,18038573,1352181.0,73669912,1,15,0,0,0,EAST,4
8,2012,ATL,Atlanta Hawks,29.187500,7.812500,223.875000,79.125000,5000,18038573,1352181.0,73669912,1,15,0,0,0,EAST,4
9,2010,BOS,Boston Celtics,27.842105,6.000000,219.368421,77.789474,450,19795712,3206896.5,83552174,2,12,17,1,0,EAST,4
10,2010,BOS,Boston Celtics,27.842105,6.000000,219.368421,77.789474,1000,19795712,3206896.5,83552174,2,12,17,1,0,EAST,4
11,2010,BOS,Boston Celtics,27.842105,6.000000,219.368421,77.789474,1600,19795712,3206896.5,83552174,2,12,17,1,0,EAST,4
12,2011,BOS,Boston Celtics,27.761905,6.761905,226.571429,79.333333,450,18800000,4999552.0,82045867,1,13,17,1,0,EAST,3
13,2011,BOS,Boston Celtics,27.761905,6.761905,226.571429,79.333333,1000,18800000,4999552.0,82045867,1,13,17,1,0,EAST,3
14,2011,BOS,Boston Celtics,27.761905,6.761905,226.571429,79.333333,1600,18800000,4999552.0,82045867,1,13,17,1,0,EAST,3
15,2012,BOS,Boston Celtics,28.176471,7.235294,218.529412,79.352941,450,21247044,2246400.0,79820530,1,14,17,0,0,EAST,5
16,2012,BOS,Boston Celtics,28.176471,7.235294,218.529412,79.352941,1000,21247044,2246400.0,79820530,1,14,17,0,0,EAST,5
17,2012,BOS,Boston Celtics,28.176471,7.235294,218.529412,79.352941,1600,21247044,2246400.0,79820530,1,14,17,0,0,EAST,5
18,2010,CHA,Charlotte Bobcats,27.105263,6.000000,219.473684,79.105263,12500,11850000,5122397.0,68681758,0,14,0,0,0,EAST,7
19,2010,CHA,Charlotte Bobcats,27.105263,6.000000,219.473684,79.105263,6600,11850000,5122397.0,68681758,0,14,0,0,0,EAST,7

In [1432]:
all_avg_odds_salary_players_champ_rk_po.to_csv(f"data/temp/{start}_{end-1}_avg_odds_salary_players_champ_rk_po.csv")

### Concatenate datasets

In [1433]:
df_2013_2025 = pd.read_csv('data/2013_2025_avg_odds_salary_players_champ_rk.csv', index_col=False)
df_2010_2012 = pd.read_csv('data/temp/2010_2012_avg_odds_salary_players_champ_rk.csv',  index_col=False)

df_2013_2025 = df_2013_2025.iloc[:, 1:]
df_2010_2012 = df_2010_2012.iloc[:, 1:]

In [1434]:
df_2013_2025.Season.unique()

array([2023, 2024, 2025, 2020, 2021, 2022, 2015, 2016, 2017, 2018, 2019,
       2013, 2014])

In [1435]:
df_2010_2012.Season.unique()

array([2010, 2011, 2012])

In [1436]:
final_df = pd.concat([df_2013_2025, df_2010_2012], ignore_index=True)

In [1437]:
final_df['ranking'] = final_df['ranking'].astype("Int64")

In [1438]:
final_df.ranking.unique()

<IntegerArray>
[8, 10, 2, 1, 6, 11, 9, 14, 13, 4, 5, 15, 7, 3, 12, <NA>]
Length: 16, dtype: Int64

In [1439]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718 entries, 0 to 717
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Season            718 non-null    int64
 1   team              718 non-null    object
 2   team_full_name    718 non-null    object
 3   conference        718 non-null    object
 4   avg_age           718 non-null    float64
 5   avg_exp           718 non-null    float64
 6   avg_weight        718 non-null    float64
 7   avg_height        718 non-null    float64
 8   Odds              718 non-null    int64
 9   highest_salary    718 non-null    int64
 10  median_salary     718 non-null    float64
 11  total_salary      718 non-null    int64
 12  top_players       718 non-null    int64
 13  not_top_players   718 non-null    int64
 14  nb_championships  718 non-null    int64
 15  nb_champ_past_4y  718 non-null    int64
 16  winner            718 non-null    int64
 17  ranking           688 non-null    Int64
dtypes: Int64(1), float64(5), int64(9), object(3)
memory usage: 101.8+ KB

In [1441]:
final_df.sort_values(['Season'],ascending=True)

,Season,team,team_full_name,conference,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,nb_champ_past_4y,winner,ranking
710,2010,WAS,Washington Wizards,EAST,27.125000,4.625000,218.041667,78.750000,5000,16192080,2000100.0,73440274,1,15,0,0,0,14
709,2010,WAS,Washington Wizards,EAST,27.125000,4.625000,218.041667,78.750000,8000,16192080,2000100.0,73440274,1,15,0,0,0,14
711,2010,WAS,Washington Wizards,EAST,27.125000,4.625000,218.041667,78.750000,15000,16192080,2000100.0,73440274,1,15,0,0,0,14
664,2010,POR,Portland Trail Blazers,WEST,25.736842,4.315789,219.052632,79.315789,2000,9000000,2143080.0,56946258,0,17,1,0,0,6
673,2010,SAC,Sacramento Kings,WEST,25.350000,3.050000,227.650000,79.750000,25000,13655268,2035920.0,67515718,1,18,0,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,2025,PHO,Phoenix Suns,WEST,28.047619,5.761905,215.764706,78.333333,3500,51179021,8250000.0,219627801,3,10,0,0,0,<NA>
85,2025,SAC,Sacramento Kings,WEST,26.150000,4.450000,211.812500,78.500000,6600,40500000,8000000.0,167640684,2,11,0,0,0,<NA>
62,2025,BRK,Brooklyn Nets,EAST,24.947368,3.947368,214.111111,79.052632,100000,40338144,4041249.0,165717974,1,14,0,0,0,<NA>
61,2025,BOS,Boston Celtics,EAST,26.318182,4.727273,220.315789,79.318182,300,49700000,3256341.5,201620656,1,15,18,1,0,<NA>
63,2025,CHI,Chicago Bulls,EAST,24.952381,3.619048,213.500000,78.476190,50000,43031940,7000000.0,166079908,1,14,6,0,0,<NA>

In [1442]:
final_df.to_csv(f"data/2010_2025_avg_odds_salary_players_champ_rk.csv")

### Append Conference field to Final Df

In [957]:
# final_df['conference'] = final_df['team'].map(team_conferences)

# final_df.insert(3, 'conference', final_df.pop('conference'))

# final_df.to_csv(f"data/2020_2025_avg_odds_salary_players_champ_rk.csv")

### Append Number of Championships in the past 4 years field to Final Df

In [1033]:
team_championships = []
nba_champions = scrape_champions()

for i, row in final_df.iterrows():
    team = row['team']  
    season = row['Season']     

    nb_interval = len(nba_champions[
        (nba_champions['team'] == team) & 
        (nba_champions['Year'] <= season) & 
        (nba_champions['Year'] > season-4)
        ]
    )
    
    nb_past_championships = len(nba_champions[(nba_champions['team'] == team) & 
                                                (nba_champions['Year'] <= season) & 
                                                (nba_champions['Year'] > season-4)])
    
    team_championships.append(nb_past_championships)


final_df['nb_champ_past_4y'] = team_championships

column_to_move = final_df.pop("nb_champ_past_4y")

final_df.insert(15, "nb_champ_past_4y", column_to_move)

In [1057]:
# final_df

In [1056]:
# final_df.to_csv(f"data/2015_2025_avg_odds_salary_players_champ_rk.csv")

### Append Number of Playoff Apperence field to Final Df

In [242]:
final_df = pd.read_csv('../data/2008_2025_avg_odds_salary_players_champ_rk.csv',  index_col=False)
final_df = final_df.iloc[:, 1:]

In [243]:
final_df.head()

,Season,team,team_full_name,conference,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,nb_champ_past_4y,winner,ranking
0,2023,ATL,Atlanta Hawks,EAST,24.700000,3.350000,211.050000,78.500000,15000,37096500,2755015.5,148633740,1,19,0,0,0,8.0
1,2024,ATL,Atlanta Hawks,EAST,25.789474,4.368421,210.631579,78.263158,15000,40064220,2753441.0,157259361,1,21,0,0,0,10.0
2,2023,BOS,Boston Celtics,EAST,26.722222,5.333333,225.388889,78.944444,300,30351780,3903140.5,175733265,0,18,17,0,0,2.0
3,2024,BOS,Boston Celtics,EAST,25.894737,4.684211,216.631579,79.263158,300,36861707,2019706.0,183679244,1,20,18,1,1,1.0
4,2023,BRK,Brooklyn Nets,EAST,27.000000,5.120000,218.560000,78.800000,100000,35448672,2138160.0,157516641,1,22,0,0,0,6.0

In [260]:
po_apperences = nb_po(po)

final_df_new = final_df.merge(po_apperences, on=['team_full_name','Season'],how='left')
final_df_new = final_df_new.sort_values(by=['team_full_name', 'Season'], ascending=[True, False])
final_df_new['nb_po_apperence'] = final_df_new['nb_po_apperence'].bfill()
final_df_new['nb_po_apperence'] = final_df_new['nb_po_apperence'].astype("Int64")


final_df_new.insert(16, 'nb_po_apperence', final_df_new.pop('nb_po_apperence'))

,Season,team,team_full_name,conference,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,nb_champ_past_4y,nb_po_apperence,winner,ranking
60,2025,ATL,Atlanta Hawks,EAST,25.300000,3.700000,217.105263,78.950000,15000,43031940,6059520.0,169529070,1,14,0,0,36,0,NaN
1,2024,ATL,Atlanta Hawks,EAST,25.789474,4.368421,210.631579,78.263158,15000,40064220,2753441.0,157259361,1,21,0,0,36,0,10.0
0,2023,ATL,Atlanta Hawks,EAST,24.700000,3.350000,211.050000,78.500000,15000,37096500,2755015.5,148633740,1,19,0,0,36,0,8.0
92,2022,ATL,Atlanta Hawks,EAST,25.916667,4.125000,213.625000,78.250000,15000,23000000,2659560.0,133731629,0,25,0,0,35,0,9.0
91,2021,ATL,Atlanta Hawks,EAST,25.666667,4.388889,213.166667,77.833333,15000,19500000,4612500.0,115195055,0,18,0,0,34,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,2010,WAS,Washington Wizards,EAST,27.125000,4.625000,218.041667,78.750000,15000,16192080,2000100.0,73440274,1,15,0,0,4,0,14.0
834,2009,WAS,Washington Wizards,EAST,26.705882,4.764706,219.000000,79.058824,2500,14653466,3177870.5,70743317,1,15,0,0,4,0,15.0
835,2009,WAS,Washington Wizards,EAST,26.705882,4.764706,219.000000,79.058824,6000,14653466,3177870.5,70743317,1,15,0,0,4,0,15.0
832,2008,WAS,Washington Wizards,EAST,26.153846,4.384615,218.846154,79.076923,2500,16360094,3206000.0,65278996,1,13,0,0,4,0,5.0
833,2008,WAS,Washington Wizards,EAST,26.153846,4.384615,218.846154,79.076923,6000,16360094,3206000.0,65278996,1,13,0,0,4,0,5.0

In [263]:
final_df_new[final_df_new.team_full_name=='Houston Rockets']

,Season,team,team_full_name,conference,avg_age,avg_exp,avg_weight,avg_height,Odds,highest_salary,median_salary,total_salary,top_players,not_top_players,nb_championships,nb_champ_past_4y,nb_po_apperence,winner,ranking
70,2025,HOU,Houston Rockets,WEST,25.500000,3.888889,220.666667,78.666667,10000,42846615,9249960.0,165026987,1,14,2,0,33,0,NaN
21,2024,HOU,Houston Rockets,WEST,25.823529,3.823529,221.058824,78.823529,10000,40806300,3531720.0,153204959,1,21,2,0,33,0,11.0
20,2023,HOU,Houston Rockets,WEST,23.611111,2.555556,221.000000,78.722222,10000,40866760,3359160.0,136542494,1,24,2,0,33,0,14.0
122,2022,HOU,Houston Rockets,WEST,24.421053,3.263158,212.000000,77.263158,10000,44310840,2000000.0,129096006,1,24,2,0,33,0,15.0
121,2021,HOU,Houston Rockets,WEST,25.833333,4.266667,217.833333,77.766667,10000,41254920,1620564.0,128087962,1,24,2,0,33,0,15.0
120,2020,HOU,Houston Rockets,WEST,28.761905,7.047619,218.761905,78.238095,10000,38506482,1416852.0,131293343,2,21,2,0,33,0,4.0
234,2019,HOU,Houston Rockets,WEST,27.260870,5.695652,218.043478,78.347826,10000,35654150,838464.0,124810135,2,19,2,0,32,0,3.0
233,2018,HOU,Houston Rockets,WEST,27.875000,5.791667,212.708333,78.000000,10000,28299399,1230186.0,118271480,2,23,2,0,31,0,1.0
232,2017,HOU,Houston Rockets,WEST,25.944444,4.611111,213.222222,78.444444,10000,26540100,1398120.0,90498298,2,16,2,0,30,0,3.0
231,2016,HOU,Houston Rockets,WEST,26.888889,5.833333,218.888889,78.611111,10000,22359364,1967302.5,90188412,1,17,2,0,29,0,8.0
230,2015,HOU,Houston Rockets,WEST,26.600000,4.050000,215.550000,78.500000,10000,21436271,1551300.0,87299371,1,21,2,0,28,0,2.0
372,2014,HOU,Houston Rockets,WEST,25.166667,3.222222,218.333333,78.777778,6600,20513178,1186459.0,63983641,2,15,2,0,27,0,5.0
373,2014,HOU,Houston Rockets,WEST,25.166667,3.222222,218.333333,78.777778,1200,20513178,1186459.0,63983641,2,15,2,0,27,0,5.0
370,2013,HOU,Houston Rockets,WEST,24.150000,2.100000,220.400000,78.850000,6600,8374646,1453520.0,57323787,0,23,2,0,26,0,7.0
371,2013,HOU,Houston Rockets,WEST,24.150000,2.100000,220.400000,78.850000,1200,8374646,1453520.0,57323787,0,23,2,0,26,0,7.0
535,2012,HOU,Houston Rockets,WEST,25.736842,3.684211,217.105263,78.263158,4000,11519840,2297066.5,57021755,1,15,2,0,25,0,9.0
536,2012,HOU,Houston Rockets,WEST,25.736842,3.684211,217.105263,78.263158,4000,11519840,2297066.5,57021755,1,15,2,0,25,0,9.0
537,2012,HOU,Houston Rockets,WEST,25.736842,3.684211,217.105263,78.263158,6600,11519840,2297066.5,57021755,1,15,2,0,25,0,9.0
532,2011,HOU,Houston Rockets,WEST,25.800000,3.450000,222.350000,79.050000,4000,17686100,2669520.0,72315654,1,14,2,0,25,0,9.0
533,2011,HOU,Houston Rockets,WEST,25.800000,3.450000,222.350000,79.050000,4000,17686100,2669520.0,72315654,1,14,2,0,25,0,9.0
534,2011,HOU,Houston Rockets,WEST,25.800000,3.450000,222.350000,79.050000,6600,17686100,2669520.0,72315654,1,14,2,0,25,0,9.0
529,2010,HOU,Houston Rockets,WEST,25.904762,3.047619,222.142857,79.047619,4000,16378325,2300000.0,68914971,1,18,2,0,25,0,9.0
530,2010,HOU,Houston Rockets,WEST,25.904762,3.047619,222.142857,79.047619,4000,16378325,2300000.0,68914971,1,18,2,0,25,0,9.0
531,2010,HOU,Houston Rockets,WEST,25.904762,3.047619,222.142857,79.047619,6600,16378325,2300000.0,68914971,1,18,2,0,25,0,9.0
756,2009,HOU,Houston Rockets,WEST,28.117647,5.411765,222.529412,79.000000,1000,20370437,1962378.0,73302272,2,15,2,0,25,0,5.0
757,2009,HOU,Houston Rockets,WEST,28.117647,5.411765,222.529412,79.000000,1200,20370437,1962378.0,73302272,2,15,2,0,25,0,5.0
754,2008,HOU,Houston Rockets,WEST,27.285714,4.523810,218.476190,78.952381,1000,19014187,2050000.0,69894114,1,17,2,0,24,0,4.0
755,2008,HOU,Houston Rockets,WEST,27.285714,4.523810,218.476190,78.952381,1200,19014187,2050000.0,69894114,1,17,2,0,24,0,4.0

In [265]:
final_df_new.to_csv(f"../data/2008_2025_avg_odds_salary_players_champ_rk.csv")

### Other

In [ ]:
# url = f"https://www.basketball-reference.com/teams/NOH/2013.html"

# response = requests.get(url)

# # print(response)
# # print(url)

# if response.status_code == 200:
#     soup = BeautifulSoup(response.content, 'html.parser')
#     table = soup.find('table', {'id': 'roster'})

#     if table:
#         df = pd.read_html(io.StringIO(str(table)))[0]

#         df['Season'] = 2013
        
#         df = clean_roster(df,'NOH')

#         all_avg_roster = pd.concat([all_avg_roster, df], ignore_index=True)

#     else:
    
#         print(f"No table found for 2013")

# else:
#     print(f"Failed to retrieve data for 2013")

In [ ]:
# url = f"https://www.basketball-reference.com/teams/NOH/2013.html"

# driver = webdriver.Chrome() 

# driver.get(url)

# time.sleep(5)

# soup = BeautifulSoup(driver.page_source, 'html.parser')

# div = soup.find('div', {'id': 'div_salaries2'})

# if div:
#     table = div.find('table', {'id': 'salaries2'})
#     if table:
#         df = pd.read_html(io.StringIO(str(table)))[0]
#         df['Season'] = 2013
#         df['team']= 'NOH'
#         df = clean_salaries(df)

#         all_salaries = pd.concat([all_salaries, df], ignore_index=True)

#     else:
#         print(f"No table found inside the div for NOH in 2013")
# else:
#     print(f"No div with id 'div_salaries2' found for NOH in 2013")

# driver.quit()